
<app-launch></app-launch>

<div class="container-fluid" style="background-color: #e2e2e2;; padding-left: 29px; padding-top: 2px; padding-bottom: 8px; padding-right: 25px;">
<div class="row" style="Background-color:#ffff;padding-bottom: 10px;padding-top: 10px;padding-right: 10px;">

      <div class="col-xs-1 desktopheader" style="Background-color:#ffff; padding-right: 0px;width:7%;">
    
<ul class="nav nav-tabs">
    <!-- <li class="active"><a href="#home" data-toggle="tab"><span class="glyphicon glyphicon-heart"></span></a></li> -->
    <li style="text-align: center; "><a [routerLink]="['/SelfService/Statement']" data-toggle="tab" routerLinkActive="actiVV">
        <img src="assets/images/statementIcon.png"  alt="Statement" title="Statement">
        <div style="Font-size:8px;Color:#000000;font-family: MyriadPro-Regular;" class="linkColor">Statement</div>
    </a></li>
    <li style="text-align: center; "><a [routerLink]="['/SelfService/GeneratePin']" data-toggle="tab" routerLinkActive="actiVV">
        <img src="assets/images/generatePin.png"   alt="Generate Pin" title="Generate Pin">
        <div style="Font-size:8px;Color:#000000;font-family: MyriadPro-Regular;" class="linkColor">Generate Pin</div>

    </a></li>
    <li *ngIf="LinksFlag"  style="text-align: center; " ><a [routerLink]="['/SelfService/SelfLimit']" routerLinkActive="actiVV" data-toggle="tab">
            <img src="assets/images/SelfLimit.png"   alt="Self Limit" title="Self Limit">
            <div style="Font-size:8px;Color:#000000;font-family: MyriadPro-Regular;" class="linkColor">Self Card Limit</div>
    </a></li>
    <!-- <li *ngIf="LinksFlag" style="text-align: center; "><a [routerLink]="['/SelfService/SupplementaryLimit']" data-toggle="tab" routerLinkActive="actiVV">
            <img src="assets/images/supplementatyLimit.png"   alt="Supplementary Limit" title="Supplementary Limit">
            <div style="font-size:9px; margin-top:3px" class="linkColor">Supplementary Limit</div>
    </a></li> -->
    
    

    <li style="text-align: center; "><a [routerLink]="['/SelfService/BlockCard']" data-toggle="tab" routerLinkActive="actiVV">
        <img src="assets/images/BlockCard.png"   alt="Generate Pin" title="Generate Pin">
        <div style="font-size:9px; margin-top:3px;font-family: MyriadPro-Regular;" class="linkColor">Block Card</div>
</a></li>   
   
  </ul>


</div> 
<div class="col-sm-11" style="Background-color:#ffff;  min-height: 400px; padding: 0px;">
        <div class="contentBox">
           <router-outlet></router-outlet>   
        </div>           
</div>
</div>
</div>
