<div class="container">
  
  <h3 style="font-size: 20;color: #4f4f4f;">Block Card</h3>
  <br>

  <div class="form-group row" style="font-size:13px; color: #4f4f4f;">
    <div class="col-sm-4" style="width:20%; text-align:right;">
      <label>Select Card you wish to block:</label>
    </div>
<div class="col-sm-3">
    <select (change)="onChange($event)" class="form-control">
        <option value="" disabled select>Select</option>
        <!-- <option selected="selected">Select</option> -->
        <option value ="card1">4448-8865-7322-9765</option>
        <option value="card2">6698-7745-9854-6537</option>
        
      </select>

</div>
  </div>

  <div class="form-group row">
    <div class="col-sm-4" style="font-size: 13px;color: #4f4f4f; width:20%;text-align:right;">
      <label>Card Status:</label>
    </div>
    <div class="col-sm-4">
      Active
    </div>

  </div>


  <div class="form-group row" style="font-size:13px; color: #4f4f4f;">
      <div class="col-sm-4" style="width:20%; text-align:right;">
        <label>Select Reason for blocking:</label>
      </div>
  <div class="col-sm-3">
      <select (Change)="onChange($event)" class="form-control">
        <option value="" disabled select>Select</option>
          <option value>Lost or stolen</option>
          <option value>Broken Card</option>
          <option value>Card Expired</option>
          
        </select>
  
  </div>
    </div>
    <div class="form-group row" style="font-size:13px; color: #4f4f4f">
      <div class="col-sm-4" style=" width:20%;text-align:right;">
        <label>Remarks, if any:</label>
      </div>
      <div class="col-sm-3">
        <textarea class="form-control"></textarea>
      </div>
    </div>

    <div class="row form-group">
        <div class="col-sm-4 col-sm-offset-4" style="margin-left:20%;">
    <div class="btn-group">
        <button type="button" class="btn btn-primary" [disabled]="!buttonDisabled" (click)="clickMethod()">Submit</button>
        </div>
        <div class="btn-group">
        <button type="button" class="btn btn-primary" (click)="refresh()">Cancel</button>
</div>
</div>
</div>
  
</div>