<div class="container">
  <h3 id="divid">Block Card</h3>
  <hr id="line">
 <div *ngIf="LinksFlag">

  <div class="form-group row" >
    <div class="col-sm-3" id="detailsid">
      <label>Card:</label>
    </div>
  <div class="col-sm-3" id="readText">
    <!--<select (change)="onChange($event)" class="form-control">
        <option value="" disabled select>Select</option>
        <option value ="card1">4448-XXXX-XXXX-8743</option>
    </select>-->
    <span>&nbsp;&nbsp;&nbsp;4448-XXXX-XXXX-8743</span>
</div>
</div>

  <div class="form-group row">
    <div class="col-sm-3" id="detailsid">
      <label>Status:</label>
    </div>
    <div class="col-sm-3">
        <span>&nbsp;&nbsp;&nbsp;Active</span>
    </div>

  </div>
  <div class="form-group row">
      <div class="col-sm-3" id="detailsid">
        <label>Reason:</label>
      </div>
  <div class="col-sm-3">
      <select (Change)="onChange($event)" class="form-control">
        <option value="" disabled select>Select</option>
          <option value>Lost</option>
          <option value>Stolen</option>
      </select>
  </div>
  </div>
    <div class="form-group row">
      <div class="col-sm-3" id="detailsid">
        <label>Remarks:</label>
      </div>
      <div class="col-sm-3">
        <textarea class="form-control"></textarea>
      </div>
    </div>

    <div class="row form-group">
      <div class="col-sm-3" id="detailsid"></div>
      <div class="col-sm-3" style="text-align: right">
       <button type="button" class="btn btn-primary" [disabled]="!buttonDisabled" (click)="clickMethod()" style="background-color: #004165" >Submit</button>
       <button type="button" class="btn btn-primary" (click)="refresh()" style="background-color: #004165 " >Cancel</button>
        
  </div>
</div>
</div>
<div *ngIf="!LinksFlag">

  <div class="form-group row" >
    <div class="col-sm-3" id="detailsid">
      <label>Card:</label>
    </div>
  <div class="col-sm-3">
    <select (change)="onChange($event)" class="form-control">
        <option value="" disabled select>Select</option>
        <option value ="card1">4448-XXXX-XXXX-5518</option>
        <option value ="card1">4448-XXXX-XXXX-5500</option>
    </select>
</div>
</div>
  <div class="form-group row">
    <div class="col-sm-3" id="detailsid">
      <label>Status:</label>
    </div>
    <div class="col-sm-3" >
        <span>&nbsp;&nbsp;&nbsp;Active</span>
      
    </div>

  </div>
  <div class="form-group row">
      <div class="col-sm-3" id="detailsid">
        <label>Reason:</label>
      </div>
  <div class="col-sm-3">
      <select (Change)="onChange($event)" class="form-control">
        <option value="" disabled select>Select</option>
          <option value>Lost</option>
          <option value>Stolen</option>
      </select>
  </div>
  </div>
    <div class="form-group row">
      <div class="col-sm-3" id="detailsid">
        <label>Remarks:</label>
      </div>
      <div class="col-sm-3">
        <textarea class="form-control"></textarea>
      </div>
    </div>

    <div class="row form-group">
      <div class="col-sm-3" id="detailsid"></div>
      <div class="col-sm-3" style="text-align: right">
       <button type="button" class="btn btn-primary" [disabled]="!buttonDisabled" (click)="clickMethod()" style="background-color: #004165" >Submit</button>
       <button type="button" class="btn btn-primary" (click)="refresh()" style="background-color: #004165 " >Cancel</button>
        
  </div>
</div>
</div>
</div>
