<div class="container">
  <h3 id="divid">Block Card</h3>
  <hr id="line">

  <div class="form-group row" >
    <div class="col-sm-3" id="detailsid">
      <label>Card:</label>
    </div>
<div class="col-sm-3">
    <select (change)="onChange($event)" class="form-control">
        <option value="" disabled select>Select</option>
        <!-- <option selected="selected">Select</option> -->
        <option value ="card1">4448-8865-7322-9765</option>
        <option value ="card2">6698-7745-9854-6537</option>
      </select>
</div>
</div>

  <div class="form-group row">
    <div class="col-sm-3" id="detailsid">
      <label>Card Status:</label>
    </div>
    <div class="col-sm-3">
      Active
    </div>

  </div>


  <div class="form-group row">
      <div class="col-sm-3" id="detailsid">
        <label>Reason:</label>
      </div>
  <div class="col-sm-3">
      <select (Change)="onChange($event)" class="form-control">
        <option value="" disabled select>Select</option>
          <option value>Lost or stolen</option>
          <option value>Broken Card</option>
          <option value>Card Expired</option>
          
        </select>
  
  </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-3" id="detailsid">
        <label>Remarks, if any:</label>
      </div>
      <div class="col-sm-3">
        <textarea class="form-control"></textarea>
      </div>
    </div>

    <div class="row form-group">
      <div class="col-sm-3" id="detailsid"></div>
      <div class="col-sm-3" style="text-align: right">
       <button type="button" class="btn btn-primary" [disabled]="!buttonDisabled" (click)="clickMethod()" style="background-color: #004165" >Submit</button>
       <button type="button" class="btn btn-primary" (click)="refresh()" style="background-color: #004165 " >Cancel</button>
        
  </div>
</div>
  
</div>