
<app-launch></app-launch>
<div class="container-fluid" style="background-color: #e2e2e2;; padding-left: 29px; padding-top: 2px; padding-bottom: 8px; padding-right: 25px;">

<div class="row" style="Background-color:#ffff;padding-bottom: 10px;padding-top: 10px;padding-right: 10px;">

      <div class="col-xs-1 desktopheader" style="Background-color:#ffff; padding-right: 0px;">
    
<ul class="nav nav-tabs" >
  
    <li *ngIf="LinksFlag" style="text-align: center"><a routerLinkActive="actiVV" [routerLink]="['/CardTransfers/WalletTransfers']" data-toggle="tab" >
            <img src="assets/images/wallet.png" style="height:auto;width: 70%;"  alt="Self Card Transfers" title="Self Card Transfers">
            <div style="Font-size:8px;Color:#000000;font-family: MyriadPro-Regular;">{{'moveMoney.walletTransfers'|translate}}</div>
           
        </a></li>
  
        <li *ngIf="!LinksFlag" style="text-align: center"><a routerLinkActive="actiVV" [routerLink]="['/CardTransfers/AutoPay']" data-toggle="tab" >
            <img src="assets/images/autoPay.png" style="height:auto;width: 70%;"  alt="AutoPay" title="AutoPay">
            <div style="Font-size:8px;Color:#000000;font-family: MyriadPro-Regular;">{{'moveMoney.Autopay'|translate}}</div>            
        </a></li>
        <li *ngIf="!LinksFlag" style="text-align: center"><a routerLinkActive="actiVV" [routerLink]="['/CardTransfers/BalanceTransfer']" data-toggle="tab" >
            <img src="assets/images/balanceTransfer.png" style="height:auto;width: 70%;"  alt="BalanceTransfer" title="BalanceTransfer">
            <div style="Font-size:8px;Color:#000000;font-family: MyriadPro-Regular;">{{'moveMoney.BalanceTransfer'|translate}}</div>            
        </a></li>
        <li *ngIf="LinksFlag" style="text-align: center"><a routerLinkActive="actiVV" [routerLink]="['/CardTransfers/load-wallet']" data-toggle="tab" >
            <img src="assets/images/loadWallet.png" style="height:auto;width: 70%;"  alt="Load Wallet" title="Load Wallet">
            <div style="Font-size:8px;Color:#000000;font-family: MyriadPro-Regular;">{{'moveMoney.Load Wallet'|translate}}</div>
        </a></li>
    
  </ul>

</div> 
<div class="col-sm-11" style="Background-color:#ffff; min-height: 300px; padding: 0px;">
        <div class="contentBox">
           <router-outlet></router-outlet>   
        </div>           
</div>
</div>

</div>






