
         
            <div class="container">
                
                    
                        <h3 style="font-size: 19px;color: #656565; font-family:MyriadPro-Regular">Wallet Transfer</h3>
                    <hr>
                   
                    <div class="panel-body">
                       
                        <div class="form-group row">
                            <div class="col-sm-3" id="cssid">
                                <label for="sourceCard">Source Wallet:</label>
                            </div>
                            <div class="col-sm-3">
                                <select name="DestCard" id="cssid" class="form-control">
                                    <option value="USD">USD</option>
                                    <option value="INR">INR</option>
                                </select>
                            </div>
                            <div class="col-sm-3" id="cssid">
                                <label for="sourceCard">Destination Wallet:</label>
                            </div>
                            <div class="col-sm-3">
                                <select name="DestCard" id="cssid" class="form-control">
                                    <option value="INR">INR</option>
                                    <option value="USD">USD</option>
                                   
                                </select>
                            </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-sm-3" id="cssid">
                            <label for="sourceCard">Card Balance:</label>
                        </div>
                        <div class="col-sm-3" style="font-family: MyriadPro-Regular;font-size:16px; color: #656565;">
542000.00
                        </div>
                        <div class="col-sm-3" id="cssid">
                            <label for="sourceCard">Destination Balance:</label>
                        </div>
                        <div class="col-sm-3" style="font-family: MyriadPro-Regular; font-size:16px; color:#656565;">
2000.00
                        </div>
                  </div>

                  <div class="form-group row">
                    <div class="col-sm-3" id="cssid">
                        <label for="sourceCard">Amount To be Transferred:</label>
                    </div>
                    <div class="col-sm-3">
                        <input class="form-control" style="font-family: MyriadPro-Regular; font-size:16px; color:#656565;" value="1000" type="text" name="AmtTranfed">
                    </div>
                    <div class="col-sm-2">
                        <select name="DestCard" style="font-family:MyriadPro-Regular;color:#656565;font-size:16px" class="form-control">
                                <option value="INR">INR</option>
                            <option value="USD">USD</option>
                           
                        </select>
                       
                    </div>
                    
                    <div class="col-sm-2">

                        <input class="form-control" style="font-family:MyriadPro-Regular;color:#656565;font-size:16px" value="USD 14.818"  readonly type="text" name="Amt" placeholder="Amount">
                        
                    </div>
                    <div class="col-sm-2" id="cssid">
                        <input class="form-control" readonly style="font-family:MyriadPro-Regular;color:#656565; font-size:16px" type="text" name="Erate" value="0.00675" placeholder="Exchange Rate">

                    </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-3" id="cssid">
                    
                    <label for="Remarks" id="cssid">Remarks:</label>
                </div>
                <div class="col-sm-9">
                    <textarea class="form-control" rows="5" style="font-size:16px;font-family:MyriadPro-Regular;color:#656565;" name="Remarks"></textarea>
                </div>
                
              </div>
              <div class="form-group row">
                    <div class="col-sm-12" id="cssid">
                            <button style="float: right;" class="btn btn-primary" [disabled]="divFlag" (click)="Calculate()" Value="Calculate">Calculate</button>
                        </div>                
                    </div>

            </div>
             
             
          
              <div *ngIf="divFlag">
                
                    
                        <h3 style="font-size: 19px;color: #656565; font-family:MyriadPro-Regular;">Card Transfer Information:</h3>
                    <hr>
                    <div class="panel-body">

                        <div class="form-group row">
                            <div class="col-sm-3" id="cssid">
                                <label for="TranAmt">Amount to be transferred:</label>
                            </div>
                            <div class="col-sm-3">
                                <input type="text" value="1000"  name="TranAmt" style="font-size: 16px;color: #656565; font-family:MyriadPro-Regular;" class="form-control">
                            </div>
                            <div class="col-sm-3">
                                <select name="DestCard" style="font-size: 16px;color: #656565; font-family:MyriadPro-Regular;" class="form-control">
                                        <option value="INR">INR</option>
                                    <option value="USD">USD</option>
                                   
                                </select>
                               
                            </div>
                            <div class="col-sm-3">
                                <input class="form-control" readonly value="0.00675"  type="text" style="font-size: 16px;color: #656565; font-family:MyriadPro-Regular;" name="Erate" placeholder="Exchange Rate">
        
                            </div>
                          </div>
          <div class="form-group row" id="cssid">
              <div class="col-sm-3" >
                  <label>Exchange Rate:</label>
              </div>
              <div class="col-sm-3">
                <input type="text" value="1000"  name="TranAmt"  style="font-size: 16px;color: #656565; font-family:MyriadPro-Regular;" class="form-control" readonly>
                  
              </div>
          </div>
          
                          <div class="form-group row">
                              <div class="col-sm-3" id="cssid">
                                  
                                  <label for="TtlAmtEuro">Amount to be debited:</label>
                              </div>
                              <div class="col-sm-3">
                                <select name="DestCard" style="font-size: 16px;color: #656565; font-family:MyriadPro-Regular;" class="form-control">
                                    <option value="USD">USD</option>
                                    <option value="INR">INR</option>
                                </select>
                               
                            </div>
                            <div class="col-sm-3">
                                <input class="form-control" readonly  type="text" style="font-size: 16px;color: #656565; font-family:MyriadPro-Regular;" name="Erate" value="14.818">
        
                            </div>
                            </div>
                            <div class="form-group row">
                                    <div class="col-sm-3" ></div>
                                    <div class="col-sm-3" ></div>
                                    <div class="col-sm-3" ></div>
                                    <div class="col-sm-3" id="cssid">
                                            <button  class="btn btn-primary" Value="Confirm" (click)="clickMethod()">Confirm</button>&nbsp;
                                            <button class="btn btn-primary" Value="Cannel" (click)="CancelMethod()">Cancel</button>&nbsp;
                                            <button class="btn btn-primary" Value="Reset">Reset</button>
                                        </div>
                                    </div>
                    </div>
                    
                
              
              </div>
              <br>
              </div>