
         
            <div class="container">
                
                    
                        <h3 style="font-size: 20px;color: #4f4f4f;">Wallet Transfer</h3>
                    
                   <br>
                    <div class="panel-body">
                        <div class="form-group row" id="divid">
                            <div class="col-sm-3" id="cssid">
                                <label for="sourceCard">Source Card:</label>
                            </div>
                            <div class="col-sm-3">
                             <select name="sourceCard" id="sourceCard" class="form-control">
                               <option value="4448-88XX-XXXX-5500">4448-88XX-XXXX-1242</option>
                               <option value="4448-88XX-XXXX-4352">4448-88XX-XXXX-3452</option>
                               <option value="4448-88XX-XXXX-8743">4448-88XX-XXXX-35453</option>
                               </select>
                            </div>
                           <div class="col-sm-3" id="cssid">
                                  
                                <label for="DestCard">Destination Card :</label>
                            </div>
                            <div class="col-sm-3">
                                <select name="DestCard" id="DestCard" class="form-control">
                                    <option value="4448-88XX-XXXX-7153">4448-88XX-XXXX-4564</option>
                               <option value="4448-88XX-XXXX-9721">4448-88XX-XXXX-4634</option>
                               <option value="4448-88XX-XXXX-1123">4448-88XX-XXXX-3242</option>
                                </select>
                            </div>

                        </div>
                       <div class="form-group row" id="divid">
                            <div class="col-sm-3" id="cssid">
                                <label for="sourceCard">Card Holder Name:</label>
                            </div>
                            <div class="col-sm-3">
Chakravarthy
                            </div>
                           <div class="col-sm-3" id="cssid">
                                  
                                <label for="DestCard">Destination Card Name :</label>
                            </div>
                            <div class="col-sm-3">
Sudeep
                            </div>

                        </div>
                        <div class="form-group row" id="divid">
                            <div class="col-sm-3" id="cssid">
                                <label for="sourceCard">Card Currency:</label>
                            </div>
                            <div class="col-sm-3">
                                <select name="DestCard" id="DestCard" class="form-control">
                                    <option value="USD">USD</option>
                                    <option value="INR">INR</option>
                                </select>
                            </div>
                            <div class="col-sm-3" id="cssid">
                                <label for="sourceCard">Destination Currency:</label>
                            </div>
                            <div class="col-sm-3">
                                <select name="DestCard" id="DestCard" class="form-control">
                                    <option value="INR">INR</option>
                                    <option value="USD">USD</option>
                                   
                                </select>
                            </div>
                      </div>
                      <div class="form-group row" id="divid">
                        <div class="col-sm-3" id="cssid">
                            <label for="sourceCard">Card Balance:</label>
                        </div>
                        <div class="col-sm-3">
542000.00
                        </div>
                        <div class="col-sm-3" id="cssid">
                            <label for="sourceCard">Destination Balance:</label>
                        </div>
                        <div class="col-sm-3">
2000.00
                        </div>
                  </div>

                  <div class="form-group row" id="divid">
                    <div class="col-sm-3" id="cssid">
                        <label for="sourceCard">Amount To be Transferred:</label>
                    </div>
                    <div class="col-sm-3">
                        <input class="form-control"  value="1000" type="text" id="AmtTranfed" name="AmtTranfed">
                    </div>
                    <div class="col-sm-2">
                        <select name="DestCard" id="DestCard" class="form-control">
                                <option value="INR">INR</option>
                            <option value="USD">USD</option>
                           
                        </select>
                       
                    </div>
                    
                    <div class="col-sm-2">

                        <input class="form-control" value="USD 14.818"  readonly type="text" id="Amt" name="Amt" placeholder="Amount">
                        
                    </div>
                    <div class="col-sm-2">
                        <input class="form-control" readonly  type="text" id="Erate" name="Erate" value="0.00675" placeholder="Exchange Rate">

                    </div>
              </div>
              <div class="form-group row" id="divid">
                <div class="col-sm-3" id="cssid">
                    
                    <label for="Remarks">Remarks:</label>
                </div>
                <div class="col-sm-9">
                    <textarea class="form-control" rows="5" id="Remarks" name="Remarks"></textarea>
                </div>
                
              </div>
              </div>
             
              <button class="btn btn-primary" [disabled]="divFlag" (click)="Calculate()" Value="Calculate">Calculate</button>
              <br>
              <br>
              <div *ngIf="divFlag">
                
                    
                        <h3 style="font-size: 20px;color: #4f4f4f;">Card Transfer Information:</h3>
                    <br>
                    <div class="panel-body">

                        <div class="form-group row" id="divid">
                            <div class="col-sm-3" id="cssid">
                                <label for="TranAmt">Amount to be transferred:</label>
                            </div>
                            <div class="col-sm-3">
                                <input type="text" value="1000"  name="TranAmt"  id="TranAmt" class="form-control">
                            </div>
                            <div class="col-sm-3">
                                <select name="DestCard" id="DestCard" class="form-control">
                                        <option value="INR">INR</option>
                                    <option value="USD">USD</option>
                                   
                                </select>
                               
                            </div>
                            <div class="col-sm-3">
                                <input class="form-control" readonly value="0.00675"  type="text" id="Erate" name="Erate" placeholder="Exchange Rate">
        
                            </div>
                          </div>
          <div class="form-group row" id="divid">
              <div class="col-sm-4" id="cssid">
                  <label>Exchange Rate:</label>
              </div>
              <div class="col-sm-4" id="cssid">
                <input type="text" value="1000"  name="TranAmt"  id="TranAmt" class="form-control" readonly>
                  
              </div>
          </div>
          
                          <div class="form-group row" id="divid">
                              <div class="col-sm-3" id="cssid">
                                  
                                  <label for="TtlAmtEuro">Amount to be debited:</label>
                              </div>
                              <div class="col-sm-3">
                                <select name="DestCard" id="DestCard" class="form-control">
                                    <option value="USD">USD</option>
                                    <option value="INR">INR</option>
                                </select>
                               
                            </div>
                            <div class="col-sm-3">
                                <input class="form-control" readonly  type="text" id="Erate" name="Erate" value="14.818">
        
                            </div>
                            </div>
          
                           

                    </div>
                    
                
                <button class="btn btn-primary" Value="Confirm" (click)="clickMethod()">Confirm</button>
                <button class="btn btn-primary" Value="Cannel" (click)="CancelMethod()">Cancel</button>
                <button class="btn btn-primary" Value="Reset">Reset</button>
              </div>
              <br>
              </div>