<!-- <div class="bs-example" >
    <div class="panel panel-default" style="width: 200%; padding-left: 0px;" >
        <div class="panel-heading" style="background-color: powderblue">
            <h1 class="panel-title">Panel Title</h1>
        </div>
        <div class="panel-body"> -->
         
            <div class="container">


                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Supplementary Transfer</h3>
                    </div>
                    <div class="panel-body">

                        <div class="form-group row">
                            <div class="col-sm-3">
                                <label for="sourceCard">source Card:</label>
                            </div>
                            <div class="col-sm-3">
                             <select name="sourceCard" id="sourceCard" class="form-control">
                               <option value="123456435332">123456435332</option>
                               <option value="123456435332">123452345332</option>
                               <option value="123456435332">123423421332</option>
                               </select>
                            </div>
                            <div class="col-sm-3">
                                <label for="SrcCrdBal">Source card balance:</label>
                                 
                            </div>
                            <div class="col-sm-3">
                               <input type="text" readonly value="EUR 100.00" class="form-control" id="SrcCrdBal" name="SrcCrdBal">
                              </div>
                          </div>
          
          
                          <div class="form-group row">
                              <div class="col-sm-3">
                                  
                                  <label for="DestCard">Destination Card :</label>
                              </div>
                              <div class="col-sm-3">
                                  <select name="DestCard" id="DestCard" class="form-control">
                                      <option value="999956435332">999956435332</option>
                                      <option value="999956435332">999952345332</option>
                                      <option value="999956435332">999923421332</option>
                                  </select>
                              </div>
                              <div class="col-sm-3">
                                  <label for="DstCrdBal">Destination card balance:</label>
                                    
                              </div>
                              <div class="col-sm-3">
                                 <input type="text" value="EUR 100.00" readonly name="DstCrdBal" id="DstCrdBal" class="form-control">
                                </div>
                            </div>
          
                            <div class="form-group row">
                                <div class="col-sm-3">
                                    
                                    <label for="AMtToBeTaken">Amount to be taken from:</label>
                                </div>
                                <div class="col-sm-3">
                                    <input type="text"  name="AMtToBeTaken" id="AMtToBeTaken" class="form-control">
                                </div>
                                <div class="col-sm-3">
                                     
                                    <label for="CurCrdBal">Currently of Debit Amount:</label>
                                </div>
                                <div class="col-sm-3">
                                   <input type="text" readonly id="CurCrdBal" value="EUR 100.00" name="CurCrdBal" class="form-control">
                                  </div>
                              </div>
          
                              <div class="form-group row">
                                  <div class="col-sm-3">
                                      
                                      <label for="AMtRequired">Amount required in:</label>
                                  </div>
                                  <div class="col-sm-3">
                                      <input class="form-control" type="text" id="AMtRequired" name="AMtRequired">
                                  </div>
                                  <div class="col-sm-3">
                                        
                                      <label for="CurCrdBalAmt">Currently of credit Amount:</label>
                                  </div>
                                  <div class="col-sm-3">
                                     <input class="form-control" readonly value="EUR 200.00" type="text" id="CurCrdBalAmt" name="CurCrdBalAmt">
                                    </div>
                                </div>
          
                                <div class="form-group row">
                                    <div class="col-sm-3">
                                        
                                        <label for="Remarks">Remarks:</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <textarea class="form-control" rows="5" id="Remarks" name="Remarks"></textarea>
                                    </div>
                                    
                                  </div>

                    </div>
                </div>
                <button class="btn btn-primary" [disabled]="divFlag" (click)="Calculate()" Value="Calculate">Calculate</button>
                <br>
                <br>
                <div *ngIf="divFlag">
                <div class="panel panel-info" >
                    <div class="panel-heading">
                        <h3 class="panel-title">Supplementary Transfer Information:</h3>
                    </div>
                    <div class="panel-body">

                        <div class="form-group row">
                            <div class="col-sm-6">
                                <label for="TranAmt">Transfer Amount:</label>
                            </div>
                            <div class="col-sm-6">
                                <input type="text" value="EUR 10.60" name="TranAmt" readonly id="TranAmt" class="form-control">
                            </div>
                            
                          </div>
          
          
                          <div class="form-group row">
                              <div class="col-sm-6">
                                  
                                  <label for="TtlAmtEuro">Total amount to be debited from EURO:</label>
                              </div>
                              <div class="col-sm-6">
                                  <input type="text" value="EUR 10.60" name="TtlAmtEuro" readonly id="TtlAmtEuro" class="form-control">
                              </div>
                              
                            </div>
          
                            <div class="form-group row">
                                <div class="col-sm-6">
                                    
                                    <label for="ExtRate">Exchange Rate:</label>
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" value="9.80000"readonly name="ExtRate" id="ExtRate" class="form-control">
                                </div>
                               
                              </div>
          
                              <div class="form-group row">
                                  <div class="col-sm-6">
                                      
                                      <label for="SngAmt">Total amount to be credit from Singalore Dollar:</label>
                                  </div>
                                  <div class="col-sm-6">
                                      <input class="form-control" value="SGD 100.00" readonly type="text" id="SngAmt" name="SngAmt">
                                  </div>
                                 
                                </div>
          
                                

                    </div>
                    
                </div>
                <button class="btn btn-primary" Value="Confirm">Confirm</button>
                <button class="btn btn-primary" Value="Cannel">Cannel</button>
                <button class="btn btn-primary" Value="Reset">Reset</button>
              </div>
              </div>

<!--           
        </div>
    </div>
</div> -->