<div class="container">
  <h3 id="divid">Card Summary </h3>
  <hr id="line">
 
<div *ngIf="LinksFlag">
<div class="form-group row" >
  <div class="col-sm-2" id="detailsid">
    <label>Card Number:</label>
    </div>
    <div class="col-sm-3" id="readText">
        4448-XXXX-XXXX-8743
    </div>
    <div class="col-sm-3"  id="divid">
        <u>Last Deposited Amount</u>
    </div>
    <!---->
  </div>

<div class="form-group row">
  <div class="col-sm-2" id="detailsid">
    <label>Account Number:</label>
  </div>
  <div class="col-sm-3" id="readText">
      1003000000000124092
  </div>
  <div class="col-sm-2" id="detailsid"> 
    <label>Wallet Balance - USD:</label>
    </div>
    <div class="col-sm-3" id="readText">
            &nbsp;&nbsp;628.80
  </div>
</div>
<div class="form-group row">
    <div class="col-sm-2" id="detailsid">
      <label>Card Status:</label>
    </div>
    <div class="col-sm-3" id="readText">
        Active
    </div>
    <div class="col-sm-2" id="detailsid">
        <label>Wallet Balance - SGD:</label>
      </div>
      <div class="col-sm-3" id="readText">
            &nbsp;&nbsp;10302.78
      </div>
  </div>
<div class="form-group row">
    <div class="col-sm-2" id="detailsid">
        <label>Last Statement Date:</label>
        </div>
        <div class="col-sm-3" id="readText">
                04/30/2018
        </div>
        <div class="col-sm-2" id="detailsid">
            <label>Wallet Balance - Euro:</label>
            </div>
            <div class="col-sm-3" id="readText">
                    &nbsp;&nbsp;56.87
          </div>
</div>  
<div class="form-group row">
    <div class="col-sm-2" id="detailsid"> 
        <label>Next Statement Date:</label>
      </div>
      <div class="col-sm-3" id="readText">
            05/31/2018
      </div>
      
</div>  

<hr>
</div>
<div *ngIf="!LinksFlag">
    <div class="form-group row" >
        <div class="col-sm-2" id="detailsid">
          <label>Card Number:</label>
          </div>
          <div class="col-sm-3" id="readText">
              4488-XXXX-XXXX-5518
          </div>
          <div class="col-sm-2" id="detailsid">
              <label>Last Statement Date:</label>
              </div>
              <div class="col-sm-3" id="readText">
                  &nbsp;&nbsp;04/30/2018
              </div>
        </div>
      
      <div class="form-group row">
        <div class="col-sm-2" id="detailsid">
          <label>Account Number:</label>
        </div>
        <div class="col-sm-3" id="readText">
            1003000000000124555
        </div>
          <div class="col-sm-2" id="detailsid"> 
            <label>Next Statement Date:</label>
          </div>
          <div class="col-sm-3" id="readText">
                &nbsp;&nbsp;05/31/2018
          </div>
      </div>
      <div class="form-group row">
          <div class="col-sm-2" id="detailsid">
            <label>Card Status:</label>
          </div>
          <div class="col-sm-3" id="readText">
              Active
          </div>
          <div class="col-sm-3"  id="divid">
              <u>Last Deposited Amount</u>
          </div>
        </div>
      <div class="form-group row">
          <div class="col-sm-2 " id="detailsid">
            <label>Secondary Card #:</label>
          </div>
          <div class="col-sm-3" id="readText">
              4488-XXXX-XXXX-5500
          </div>
          <div class="col-sm-2" id="detailsid"> 
              <label>Account Balance - USD:</label>
              </div>
              <div class="col-sm-3" id="readText">
                    &nbsp;&nbsp;628.80
            </div>
      </div>  
      <div class="form-group row">
          <div class="col-sm-2" id="detailsid">
            <label>Routing Number:</label>
          </div>
          <div class="col-sm-3" id="readText">
            -------
          </div>
          <div class="col-sm-2" id="detailsid">
              <label></label>
            </div>
            <div class="col-sm-3" id="readText">
            
            </div>
      </div>  
      <div class="form-group row">
          <div class="col-sm-2" id="detailsid">
            <label>Card Status:</label>
          </div>
          <div class="col-sm-3" id="readText">
              Active
          </div>
          <div class="col-sm-2" id="detailsid">
              <label></label>
              </div>
              <div class="col-sm-3" id="readText">
              
            </div>
        </div>
 </div>


