input { display: inline; }

#custName{
    font-size: 16px; Color: #656565;
    font-family: MyriadPro-Regular; 
}

#divid{
    font-size: 19px; Color: #656565;
    font-family: MyriadPro-Regular; 
}

#detailsid{
font-size: 16px; Color:#656565;
font-family: MyriadPro-Regular; 
text-align:left;
}

.form-group {
    margin-bottom: 0%;
}

/*.col-sm-3 {
    /* width: 20%;
    text-align:right; 
}*/

#readText{
    text-align:left;
    font-family: MyriadPro-Regular;
}
#line{
    Border-color:#a9a9a9;
}