<head>
     
    </head>
    

<div class="container-fluid">
        <div class="row">
                <div style="background-color: #004165;" class="col-sm-12">    
                    <img src="assets/images/logo.png" style="padding:20px 10px 20px 10px;" >
                </div>  
        </div> 
        <div class="row" style="background-color: #e2e2e2;padding: 6px;">
    <!--For Mobile start -->
    <div class="row mobileheader" style="height: 60%; background-color: #373737; margin-bottom: 0px; padding-left: 8px;">
    
            <div class="col-sm-12" >   
                        <!-- <ul class="nav nav-tabs" role="tablist">         
                        <li>
                           
                            <a role="tab"  data-toggle="tab" routerLinkActive="actiVV"   [routerLink]="['/Home/Summary']"  >HOME</a>
                            </li>      
                        <li >
                            <a role="tab" routerLinkActive="actiVV" [routerLink]="['/SelfService/SelfLimit']" data-toggle="tab" >SELF SERVICE</a>
                            </li>
                        <li >
                            <a role="tab" routerLinkActive="actiVV" data-toggle="tab" [routerLink]="['/CardTransfers/WalletTransfers']" >CARD TRANSFER</a>
                            </li>
                        <li >
                            <a role="tab" routerLinkActive="actiVV" data-toggle="tab" [routerLink]="['/Reports/yearlyReports']">REPORTS</a>
                        </li> 
                        </ul> -->
                        <nav class="navbar navbar-inverse">
                                <div class="container-fluid">
                                  <div class="navbar-header">
                                    <button type="button" class="navbar-toggle"  data-toggle="collapse" data-target="#myNavbar">
                                      <span class="icon-bar"></span>
                                      <span class="icon-bar"></span>
                                      <span class="icon-bar"></span>                        
                                    </button>
                                  
                                  </div>
                                  <div class="collapse navbar-collapse" id="myNavbar" >
                                        <ul class="nav nav-tabs" role="tablist">         
                                                <li style="width: 100%;">
                                                   
                                                    <a role="tab"  data-toggle="tab"    [routerLink]="['/Home/Summary']"  >HOME</a>
                                                    </li>      
                                                <li style="width: 100%;">
                                                    <a role="tab"  [routerLink]="['/SelfService/SelfLimit']" data-toggle="tab" >SELF SERVICE</a>
                                                    </li>
                                                <li *ngIf="LinksFlag" style="width: 100%;">
                                                    <a role="tab"  data-toggle="tab" [routerLink]="['/CardTransfers/WalletTransfers']" >MOVE MONEY</a>
                                                    </li>
                                                <li style="width: 100%;">
                                                    <a role="tab"  data-toggle="tab" [routerLink]="['/Reports/yearlyReports']">REPORTS</a>
                                                </li> 
                                                </ul>
                                  </div>
                                </div>
                              </nav>
                                
            <div>
</div> 
</div>
</div> 
                    <div class="row" style="background-color: #e2e2e2;">
                        <div class="col-sm-4" >  
                            <div class="container-fluid" style=" background-color: #ffffff; border-radius: 5px; max-width: 450px; padding: 0px;margin:5px; ">
                                <div class="row-fluid" style="  border-top-left-radius: 10px; border-top-right-radius: 10px;">
                                <div class="span3">
                                        <!-- <img src="assets/images/myAccountIcon.png" style="padding: 15px;" >   -->
                                        <app-account-info></app-account-info>
                                </div>  
                                
                                </div>           
                            </div>

                        </div> 
                        
                        <div class="col-sm-4" *ngIf="!LinksFlag" >
                            <div class="container-fluid" style="background-color: #ffffff; border-radius: 5px; max-width: 450px; padding: 0px;margin:5px; ">
                                <div class="row-fluid" style=" border-top-left-radius: 10px; border-top-right-radius: 10px;">
                                        <div class="span3" style="padding-left: 20px;" >
                                                <span style="font-family: MyriadPro-Regular;color:#000000;Font-size:12px;">Credit card Average Balance</span>
                                                <!-- <img src="assets/images/infoGraphic1.png" style="padding: 15px; height: 120px;" >   -->
                                                <app-monthly-avergage-balance-top id="chartdivBar"></app-monthly-avergage-balance-top> 
                                            </div> 
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4" *ngIf="LinksFlag" >
                                <div class="container-fluid" style="background-color: #ffffff; border-radius: 5px; max-width: 450px; padding: 0px;margin:5px; ">
                                    <div class="row-fluid" style=" border-top-left-radius: 10px; border-top-right-radius: 10px;">
                                            <div class="span3" style="padding-left: 20px;" >
                                                    <span style="font-family: MyriadPro-Regular;color:#000000;Font-size:12px;">Monthly Expenses Prepaid Card</span>
                                                    <!-- <img src="assets/images/infoGraphic1.png" style="padding: 15px; height: 120px;" >   -->
                                                    <app-monthly-expenses-prepaid-card-top id="chartdivClusteredBar"></app-monthly-expenses-prepaid-card-top> 
                                                </div> 
                                    </div>
                                </div>
                            </div> 
                    
                            <div class="col-sm-4"  >
                            <div class="container-fluid" style="background-color: #ffffff; border-radius: 5px; max-width: 450px; padding: 0px;margin:5px; ">
                                <div class="row-fluid" style="border-top-left-radius: 10px; border-top-right-radius: 10px;">
                                        <div class="span3" style="padding-left:20px;" >
                                            <div class="col-sm-7" >
                                                <span style="font-family: MyriadPro-Regular;color:#000000;Font-size:12px;">Expenses by categrory</span>
                                                <!-- <img src="assets/images/infoGraphic2.png" style="padding: 15px; height: 120px;" >   -->
                                                <app-expenses-by-categroy-top id="chartdivPie"></app-expenses-by-categroy-top>
                                   
                                            </div> 
                                            <div class="col-sm-4" style="padding-bottom: 1%">

                                                <table>
                                                    <tr>
                                                        <td ><span style="font-family: MyriadPro-Regular;color:#000000;Font-size:9px;">Miscellanous:</span></td>
                                                        <td style="padding-left: 5%"><span style="font-family: MyriadPro-Regular;color:#000000;Font-size:9px;">  6500.00</span></td>
                                                    </tr>
                                                    <tr>
                                                        <td ><span style="font-family: MyriadPro-Regular;color:#000000;Font-size:9px;">E-Commerce:</span></td>
                                                            <td style="padding-left: 5%"><span style="font-family: MyriadPro-Regular;color:#000000;Font-size:9px;"> 7000.00</span></td>
                                                    </tr>
                                                    <tr>
                                                        <td ><span style="font-family: MyriadPro-Regular;color:#000000;Font-size:9px;">Fuel:</span></td>
                                                            <td style="padding-left: 5%"> <span style="font-family: MyriadPro-Regular;color:#000000;Font-size:9px;">2500.00</span></td>
                                                    </tr>
                                                    <tr>
                                                        <td ><span style="font-family: MyriadPro-Regular;color:#000000;Font-size:9px;">Resturants:</span></td>
                                                            <td style="padding-left: 5%"><span style="font-family: MyriadPro-Regular;color:#000000;Font-size:9px;"> 4500.00</span></td>
                                                    </tr>
                                                    <tr>
                                                            <td ><span style="font-family: MyriadPro-Regular;color:#000000;Font-size:9px;">Shopping:</span></td>
                                                                <td style="padding-left: 5%"> <span style="font-family: MyriadPro-Regular;color:#000000;Font-size:9px;">9500.00</span></td>
                                                        </tr>
                                                        <tr>
                                                                <td ><span style="font-family: MyriadPro-Regular;color:#000000;Font-size:9px;">Transfer:</span></td>
                                                                    <td style="padding-left: 5%"><span style="font-family: MyriadPro-Regular;color:#000000;Font-size:9px;"> 9800.00</span></td>
                                                            </tr>
                                                    
                                                </table>
                                            </div>
                                            
                                            
                                        </div>
                                       
                                        <!-- <div class="row form-group" style="font-size: 10px;padding-top:6%;margin-bottom:0px">
                                              
                                           
                                               
                                        
                                        </div> -->
                            </div>
                            
                        </div> 
                    </div> 

                    <div class="row desktopheader" style="height: 60%;width: 95%; background-color: #e2e2e2; margin-bottom: 0px; padding-bottom: 0px; padding-left: 17px;">

                                <div class="col-sm-12" style="height: 22px;margin-bottom: 16px;">   
                                            <ul class="nav nav-tabs" role="tablist">         
                                            <li routerLinkActive="actiVV" #homeroute="routerLinkActive">
                                               
                                                <a role="tab"  data-toggle="tab" [ngClass]="{'actiVV':homeroute.isActive}"   [routerLink]="['/Home/Summary']" style="background-color:#004165;font-family: MyriadPro-Regular;Font-size:17px;" >HOME</a>
                                                <a role="tab" data-toggle="tab" [routerLink]="['/Home/']" style="display:none;" ></a>
                                               
                                             
                                            </li>      
                                            <li routerLinkActive="actiVV" #selfroute="routerLinkActive">
                                                <a role="tab"[ngClass]="{'actiVV':selfroute.isActive}" [routerLink]="['/SelfService/Statement']" data-toggle="tab" style="background-color:#004165;font-family: MyriadPro-Regular;Font-size:17px;">SELF SERVICE</a>
                                                <a role="tab" data-toggle="tab" [routerLink]="['/SelfService/']" style="display:none;" ></a>
                                            </li>
                                            <li *ngIf="LinksFlag" routerLinkActive="actiVV" #cardroute="routerLinkActive">
                                                <a role="tab" [ngClass]="{'actiVV':cardroute.isActive}" data-toggle="tab" [routerLink]="['/CardTransfers/WalletTransfers']" style="background-color:#004165;font-family: MyriadPro-Regular;Font-size:17px;">MOVE MONEY</a>
                                                <a role="tab" data-toggle="tab" [routerLink]="['/CardTransfers/']" style="display:none;" ></a>
                                            </li>
                                            <li routerLinkActive="actiVV" #reportsroute="routerLinkActive">
                                                <a role="tab" [ngClass]="{'actiVV':reportsroute.isActive}" data-toggle="tab" [routerLink]="['/Reports/yearlyReports']" style="background-color:#004165;font-family: MyriadPro-Regular;Font-size:17px;">REPORTS</a>
                                                <a role="tab" data-toggle="tab" [routerLink]="['/Reports/']" style="display:none;" ></a>
                                            </li> 
                                            </ul>
                                <div>
                    </div> 
        </div>
</div> 


