<div class="container-fluid">
        <div class="row">
                <div style="background-color: #000d16" class="col-sm-12">    
                    <img src="assets/images/logo.png" style="padding:10px;" >
                </div>  
        </div> 
        <div class="row" style="background-color: #574c4a;padding: 6px;">

                    <div class="row" style="background-color: #574c4a;padding: 6px;padding-top:2px;">
                        <div class="col-sm-4" >  
                            <div class="container-fluid" style=" background-color: #ffffff;border: solid 1px black; border-radius: 5px; max-width: 450px; padding: 0px">
                                <div class="row-fluid" style="  border-top-left-radius: 10px; border-top-right-radius: 10px;">
                                <div class="span3">
                                        <!-- <img src="assets/images/myAccountIcon.png" style="padding: 15px;" >   -->
                                        <app-account-info></app-account-info>
                                </div>  
                                
                                </div>           
                            </div>

                        </div> 
                        
                        <div class="col-sm-4" *ngIf="LinksFlag" >
                            <div class="container-fluid" style="background-color: #ffffff;border: solid 1px black; border-radius: 5px; max-width: 450px; padding: 0px">
                                <div class="row-fluid" style=" border-top-left-radius: 10px; border-top-right-radius: 10px;">
                                        <div class="span3" style="padding-left: 20px;" >
                                                <span>Credit card Average Balance</span>
                                                <!-- <img src="assets/images/infoGraphic1.png" style="padding: 15px; height: 120px;" >   -->
                                                <app-monthly-avergage-balance-top id="chartdivBar"></app-monthly-avergage-balance-top> 
                                            </div> 
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4" *ngIf="!LinksFlag" >
                                <div class="container-fluid" style="background-color: #ffffff;border: solid 1px black; border-radius: 5px; max-width: 450px; padding: 0px">
                                    <div class="row-fluid" style=" border-top-left-radius: 10px; border-top-right-radius: 10px;">
                                            <div class="span3" style="padding-left: 20px;" >
                                                    <span>Monthly Expenses Prepaid Card</span>
                                                    <!-- <img src="assets/images/infoGraphic1.png" style="padding: 15px; height: 120px;" >   -->
                                                    <app-monthly-expenses-prepaid-card-top id="chartdivClusteredBar"></app-monthly-expenses-prepaid-card-top> 
                                                </div> 
                                    </div>
                                </div>
                            </div> 
                    
                            <div class="col-sm-4" >
                            <div class="container-fluid" style="background-color: #ffffff;border: solid 1px black; border-radius: 5px; max-width: 450px; padding: 0px">
                                <div class="row-fluid" style="border-top-left-radius: 10px; border-top-right-radius: 10px;">
                                        <div class="span3" style="padding-left: 20px;" >
                                            <div class="col-sm-6">
                                                <span>Expenses by categrory</span>
                                                <!-- <img src="assets/images/infoGraphic2.png" style="padding: 15px; height: 120px;" >   -->
                                                <app-expenses-by-categroy-top id="chartdivPie"></app-expenses-by-categroy-top>
                                        </div> 
                                        <div class="col-sm-4"></div>  
                                            </div> 
                                </div>
                            </div>
                            
                        </div> 
                    </div> 

                    <div class="row" style="height: 60%; background-color: #574c4a; margin-bottom: 0px; padding-left: 8px;">

                                <div class="col-sm-12" style="height: 28px;">   
                                            <ul class="nav nav-tabs" role="tablist">         
                                            <li routerLinkActive="actiVV" #homeroute="routerLinkActive">
                                               
                                                <a role="tab"  data-toggle="tab" [ngClass]="{'actiVV':homeroute.isActive}"   [routerLink]="['/Home/Summary']"  >HOME</a>
                                                <a role="tab" data-toggle="tab" [routerLink]="['/Home/']" style="display:none;" ></a>
                                               
                                             
                                            </li>      
                                            <li routerLinkActive="actiVV" #selfroute="routerLinkActive">
                                                <a role="tab"[ngClass]="{'actiVV':selfroute.isActive}" [routerLink]="['/SelfService/Statement']" data-toggle="tab" >SELF SERVICE</a>
                                                <a role="tab" data-toggle="tab" [routerLink]="['/SelfService/']" style="display:none;" ></a>
                                            </li>
                                            <li *ngIf="LinksFlag" routerLinkActive="actiVV" #cardroute="routerLinkActive">
                                                <a role="tab" [ngClass]="{'actiVV':cardroute.isActive}" data-toggle="tab" [routerLink]="['/CardTransfers/WalletTransfers']" >MOVE MONEY</a>
                                                <a role="tab" data-toggle="tab" [routerLink]="['/CardTransfers/']" style="display:none;" ></a>
                                            </li>
                                            <li routerLinkActive="actiVV" #reportsroute="routerLinkActive">
                                                <a role="tab" [ngClass]="{'actiVV':reportsroute.isActive}" data-toggle="tab" [routerLink]="['/Reports/yearlyReports']">REPORTS</a>
                                                <a role="tab" data-toggle="tab" [routerLink]="['/Reports/']" style="display:none;" ></a>
                                            </li> 
                                            </ul>
                                <div>
                    </div> 
        </div>
</div> 


