<!-- <div class="container">
    <div class="card card-container">
</div>
<form class="form-signin">
    <span id="reauth-email" class="reauth-email"></span>
    <input type="text" class="form-control" [(ngModel)]="username" [ngModelOptions]="{standalone: true}" placeholder="Username" required autofocus>
    <input type="password" class="form-control" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" placeholder="Password" required>
			<button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" (click)="VerifyUser()">Sign in</button>
			<label style="color:red">{{statusMessage}}</label>			
</form>
</div> -->
<!-- 
<div *ngIf="!LoginStatusFlag">
    <div style="padding:5px;">
      <ul class="nav nav-tabs">
        <li routerLinkActive="active"><a routerLink="Emps">Emp</a></li>
        <li routerLinkActive="active"><a routerLink="Dept">Dept</a></li>
      </ul>
    </div>
    <div >
   
    </div>
  </div>
   -->
  
<table style="border: 2px solid silver">
<tr style="height:15%">
  <td colspan="2" >

  </td>
</tr>
<tr style="height: 75%">
<td></td>
<td>
  <div class="container">
    <div class="card card-container">
     
      <form class="form-signin">
        <span id="reauth-email" class="reauth-email"></span>
        <input type="text" class="form-control" [(ngModel)]="username" [ngModelOptions]="{standalone: true}" placeholder="Username" required autofocus>
        <input type="password" class="form-control" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" (click)="VerifyUser()">Sign in</button>
      			
      </form>
      
    </div>

  </div>
</td>
</tr>
<tr style="height: 10%">
  <td colspan="2"></td>
</tr>
</table>

  
  
  
  
  