<!--   
<table style="border: 2px solid silver">
<tr style="height:15%">
  <td colspan="2" >

  </td>
</tr>
<tr style="height: 75%">
<td></td>
<td>
  <div class="container">
    <div class="card card-container">
     
      <form class="form-signin">
        <span id="reauth-email" class="reauth-email"></span>
        <input type="text" class="form-control" [(ngModel)]="username" [ngModelOptions]="{standalone: true}" placeholder="Username" required autofocus>
        <input type="password" class="form-control" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" (click)="VerifyUser()">Sign in</button>
      			
      </form>
      
    </div>

  </div>
</td>
</tr>
<tr style="height: 10%">
  <td colspan="2"></td>
</tr>
</table>

   -->
<!--   
   <div class="login-page">
      <div class="form">
       <div class="alert alert-danger" *ngIf="errormessage">
         {{errormessage}}
       </div>
          <input type="username" [(ngModel)]="username"  placeholder="username"/>
          <input type="password" [(ngModel)]="password"  placeholder="password" />
          <button (click)="VerifyUser()">login</button>
          <p class="message">Not registered? <a href="#">Create an account</a></p>
       
      </div>
    </div> -->

      <div class="parentContainer">
        <div class="childContainer">
        
            <div class="divLeft">
<img src="../../assets/images/logo.png" style="float: left;width:90%;height: auto; padding-top: 70% ; padding-left:8%;"/>
            
           
            </div>
            
            <div class="divRight" style="padding-left: 5% " >

              
                <div style="height:79%;" >
                 <!--UserName-->
                 <div class="form-group row" ></div>
                 <div class="form-group row" style="padding-top:6%" >
                    
                    <label class="form-label">Login</label>/Sign up
                   </div>
                   <div class="form-group row" ></div>
                   <div class="form-group row" ></div>
                   <div class="form-group row" ></div>
                   <div class="form-group row" ></div>
                  <div class="form-group row" >
                    
                    <div class="col-sm-3" style="text-align: right">
                      User Name
                      </div>
                      <div class="col-sm-5">
                        <input type="username" class="textBoxStyle form-control"
                            [(ngModel)]="username"  placeholder="username"/>
                      </div>
                     
                  </div>
                 <!-- -->   
                  <!--Password-->
                  <hr>
                  <div class="form-group row"  >
                    
                      <div class="col-sm-3" style="text-align: right">
                          Password
                        </div>
                        <div class="col-sm-5">
                            <input type="password" id="logInPassword" name="password" class="textBoxStyle form-control toggle-password" data-toggle="password"   [(ngModel)]="password"  placeholder="password" />
                           
                          </div>
                      
                    </div>
                    <hr>
                  <!-- --> 
                    <div class=" form-group row alert alert-danger" style="text-align: right" *ngIf="errormessage">
                      {{errormessage}}
                     </div>
                </div>

                <!---->
                <div style="height: 19%;" >
                  <div class="form-group row" id="divid">
                    <div class="col-sm-3">
                      <img src="../../assets/images/login.png"  class="logIn"  (click)="VerifyUser()"/>
                        
                    </div>
                    <div class="col-sm-5">
                        <a (click)='rgisterAccount()'> Don't have an <span style="font-weight: bold"> Account?</span></a>
                    </div>
                    <div class="col-sm-4">
                      <a  (click)='forgotPassword()'>Forget <span style="font-weight: bold"> Password?</span></a>
                    </div>

                </div>

                </div>
                <!---->
              

            </div>
        </div>
    </div>
