<!--   
<table style="border: 2px solid silver">
<tr style="height:15%">
  <td colspan="2" >

  </td>
</tr>
<tr style="height: 75%">
<td></td>
<td>
  <div class="container">
    <div class="card card-container">
     
      <form class="form-signin">
        <span id="reauth-email" class="reauth-email"></span>
        <input type="text" class="form-control" [(ngModel)]="username" [ngModelOptions]="{standalone: true}" placeholder="Username" required autofocus>
        <input type="password" class="form-control" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" (click)="VerifyUser()">Sign in</button>
      			
      </form>
      
    </div>

  </div>
</td>
</tr>
<tr style="height: 10%">
  <td colspan="2"></td>
</tr>
</table>

   -->
  
   <div class="login-page">
    <div class="form">
     
        <input type="username" [(ngModel)]="username"  placeholder="username"/>
        <input type="password" [(ngModel)]="password"  placeholder="password" />
        <button (click)="VerifyUser()">login</button>
        <p class="message">Not registered? <a href="#">Create an account</a></p>
     
    </div>
  </div>