<div class="container divContainer">


        <h3 style="font-size: 20px;color: #4f4f4f;">Card Limit</h3>

        <br>
        <div class="panel-body">
                <div class="form-group row" id="divid">
                        <div class="col-sm-2">
                                <label for="sourceCard">Card:</label>
                        </div>
                        <div class="col-sm-3">
                                <input type="text" readonly class="form-control" value="4448-88XX-XXXX-5500">
                               
                        </div>
                        <div class="col-sm-3">
                                <button class="btn btn-primary" Value="View" (click)="showHide = !showHide">View</button>
                        </div>
                </div>
                <br>
                <div *ngIf="showHide">
                        <div class="form-group row" id="divid">
                                <div class="col-sm-2">
                                        <label for="sourceCard">Name:</label>
                                </div>
                                <div class="col-sm-3">
                                        Bob
                                </div>


                        </div>
                        <div class="form-group row" id="divid">
                                <div class="col-sm-2">
                                        <label for="sourceCard">A/C Number:</label>
                                </div>
                                <div class="col-sm-3">
                                        1003000000000124092
                                </div>


                        </div>

                        <div class="form-group row" id="divid">
                                <div class="col-sm-2">
                                        <label for="sourceCard">Card Status:</label>
                                </div>
                                <div class="col-sm-3">
                                        Active
                                </div>


                        </div>
                </div>
        </div>
</div>
<div class="container">
        <div class="form-row group">
                <div class="panel-group">
                        <div class="panel panel-default">
                                <div class="panel-heading" style="height: 30px;">
                                        <div class=col-sm-4>
                                                <a data-toggle="collapse" class="panel-title glyphicon glyphicon-th-list" style="cursor: pointer;" (click)="showHidePanel = !showHidePanel"></a>
                                                Set Expenses Rules
                                        </div>
                                </div>
                                <div class="panel-body col-sm-16" *ngIf="showHidePanel" style="background-color: #e9e9e9;">
                                        <div class="form-group row" id="divid">
                                                <div class="col-sm-3" style="font-size:13px;color:#4f4f4f">
                                                        <label for="sourceCard">International Use Allowed:</label>
                                                </div>
                                                <div class="col-sm-1">
                                                        <input class="form-check-input" name="InternationalUse" type="radio" id="radioInternationalYes" value="Yes" checked='checked'>
                                                        <label class="form-check-label" for="radioInternationalYes" style="font-size:12px; color:#4f4f4f">Yes</label>
                                                </div>
                                                <div class="col-sm-1">
                                                        <input class="form-check-input" name="InternationalUse" type="radio" id="radioInternationalNo" value="No">
                                                        <label class="form-check-label" for="radioInternationalNo" style="font-size:12px; color:#4f4f4f">No</label>
                                                </div>

                                        </div>
                                        <div class="form-group row" id="divid">
                                                <div class="col-sm-3" style="font-size:13px;color:#4f4f4f">
                                                        <label for="sourceCard">Cash Access Allowed:</label>
                                                </div>
                                                <div class="col-sm-1">
                                                        <input class="form-check-input" name="CashAccess" type="radio" id="radioCashAccessYes" value="Yes" checked='checked'>
                                                        <label class="form-check-label" for="radioCashAccessYes" style="font-size:12px; color:#4f4f4f">Yes</label>
                                                </div>
                                                <div class="col-sm-1">
                                                        <input class="form-check-input" name="CashAccess" type="radio" id="radioCashAccessNo" value="No">
                                                        <label class="form-check-label" for="radioCashAccessNo" style="font-size:12px; color:#4f4f4f">No</label>
                                                </div>

                                        </div>
                                        <div class="form-group row" id="divid">
                                                <div class="col-sm-3" style="font-size:13px;color:#4f4f4f">
                                                        <label for="sourceCard">PIN Purchase Allowed:</label>
                                                </div>
                                                <div class="col-sm-1">
                                                        <input class="form-check-input" name="PinPurchase" type="radio" id="radioPinPurchaseYes" value="Yes" checked='checked'>
                                                        <label class="form-check-label" for="radioPinPurchaseYes" style="font-size:12px; color:#4f4f4f">Yes</label>
                                                </div>
                                                <div class="col-sm-1">
                                                        <input class="form-check-input" name="PinPurchase" type="radio" id="radioPinPurchaseNo" value="No">
                                                        <label class="form-check-label" for="radioPinPurchaseNo" style="font-size:12px; color:#4f4f4f">No</label>
                                                </div>

                                        </div>
                                        <div class="form-group row" id="divid">
                                                <div class="col-sm-3" style="font-size:13px;color:#4f4f4f">
                                                        <label for="sourceCard">Single Trans Limit:</label>
                                                </div>
                                                <div class="col-sm-1">
                                                        <input class="form-check-input" name="SingleTrans" type="radio" id="radioSingleTransYes" value="Yes" checked='checked'>
                                                        <label class="form-check-label" for="radioSingleTransYes" style="font-size:12px; color:#4f4f4f">Yes</label>
                                                </div>
                                                <div class="col-sm-1">
                                                        <input class="form-check-input" name="SingleTrans" type="radio" id="radioSingleTransNo" value="No">
                                                        <label class="form-check-label" for="radioSingleTransNo" style="font-size:12px; color:#4f4f4f">No</label>
                                                </div>

                                        </div>
                                        <hr>
                                        <div class="form-group row" id="divid">
                                                <div class="col-sm-3" style="background-color: #d7d7d7">
                                                        Daily Transaction Limit
                                                        <table class="table">
                                                                <tr>
                                                                        <th>Count</th>
                                                                        <th colspan="2">Transaction Amount</th>
                                                                </tr>
                                                                <tr>
                                                                        <td>
                                                                                <input type="number" class="form-control" /> </td>
                                                                        <td id="dropdownId">
                                                                                <select name="sourceCard" id="dropDownCurrency" class="form-control">
                                                                                        <option value="SGD">SGD</option>
                                                                                        <option value="USD">USD</option>
                                                                                        <option value="BHD">USD</option>
                                                                                        <!-- <option value="4448-88XX-XXXX-8743">4448-88XX-XXXX-35453</option> -->
                                                                                </select>
                                                                                </td>
                                                                                <td>
                                                                                <input type="text" class="form-control" />
                                                                                </td>
                                                                        
                                                                </tr>
                                                        </table>
                                                </div>
                                                <div class="col-sm-3" style="background-color: #d7d7d7">
                                                        Weekly Transaction Limit
                                                        <table class="table">
                                                                <tr>
                                                                        <th>Count</th>
                                                                        <th colspan="2">Transaction Amount</th>
                                                                </tr>
                                                                <tr>
                                                                        <td>
                                                                                <input type="number" class="form-control" /> </td>
                                                                        <td id="dropdownId">
                                                                                <select name="sourceCard" id="dropDownCurrency" class="form-control">
                                                                                        <option value="SGD">SGD</option>
                                                                                        <option value="USD">USD</option>
                                                                                        <option value="BHD">USD</option>
                                                                                        <!-- <option value="4448-88XX-XXXX-8743">4448-88XX-XXXX-35453</option> -->
                                                                                </select>
                                                                                </td>

                                                                                <td>
                                                                                <input type="text" class="form-control" />
                                                                        </td>
                                                                </tr>
                                                        </table>
                                                </div>
                                                <div class="col-sm-3" style="background-color: #d7d7d7">
                                                        Monthly Transaction Limit
                                                        <table class="table">
                                                                <tr>
                                                                        <th>Count</th>
                                                                        <th colspan="2">Transaction Amount</th>
                                                                </tr>
                                                                <tr>
                                                                        <td>
                                                                                <input type="number" class="form-control" /> </td>
                                                                        <td id="dropdownId">
                                                                                <select name="sourceCard" id="dropDownCurrency" class="form-control">
                                                                                        <option value="SGD">SGD</option>
                                                                                        <option value="USD">USD</option>
                                                                                        <option value="BHD">USD</option>
                                                                                        <!-- <option value="4448-88XX-XXXX-8743">4448-88XX-XXXX-35453</option> -->
                                                                                </select></td>

                                                                                <td>
                                                                                <input type="text" class="form-control" />
                                                                        </td>
                                                                </tr>
                                                        </table>
                                                </div>
                                                <div class="col-sm-3" style="background-color: #d7d7d7">
                                                        Yearly Transaction Limit
                                                        <table class="table">
                                                                <tr>
                                                                        <th>Count</th>
                                                                        <th colspan="2">Transaction Amount</th>
                                                                </tr>
                                                                <tr>
                                                                        <td>
                                                                                <input type="number" class="form-control" /> </td>
                                                                        <td id="dropdownId">
                                                                                <select name="sourceCard" id="dropDownCurrency" class="form-control">
                                                                                        <option value="SGD">SGD</option>
                                                                                        <option value="USD">USD</option>
                                                                                        <option value="BHD">USD</option>
                                                                                        <!-- <option value="4448-88XX-XXXX-8743">4448-88XX-XXXX-35453</option> -->
                                                                                </select></td>

                                                                                <td>
                                                                                <input type="text" class="form-control" />
                                                                        </td>
                                                                </tr>
                                                        </table>
                                                </div>
                                        </div>



                                        <!--Label-->
                                        <hr>
                                        <div class="form-row group">
                                                
                                                        <div class="sm-col-2" style="width:140%; font-size:13px;color:#4f4f4f">
                                                                <!-- <div style="width:100%;float:left;padding-top:20px "> -->
                                                                        Merchant Categories
                                                                        <select name="sourceCard" id="dropDownCurrency" class="form-control" style="width:22%">
                                                                                <option value="SGD">SGD</option>
                                                                                <option value="USD">USD</option>
                                                                                <option value="BHD">USD</option>

                                                                        </select>

                                                                <!-- </div> -->
                                                        </div>
                                                
                                        </div>
                                        <br>

                                        <div class="form-row">
                                                <!-- <div style="width: 19%;padding: 2px;margin: 2px; display:inline-block" >
                                       <div class="col-sm-1">

                                    </div>   -->
                                                <!--Weekly-->
                                                <div class="col-sm-3" style="background-color: #d7d7d7">

                                                        Daily Limit
                                                        <table class="table">
                                                                <tr>
                                                                        <th>Count</th>
                                                                        <th colspan="2">Transaction Amount</th>
                                                                </tr>
                                                                <tr>
                                                                        <td>
                                                                                <input type="number" class="form-control" /> </td>
                                                                        <td id="dropdownId1">
                                                                                <select name="sourceCard" id="dropDownCurrency" class="form-control">
                                                                                        <option value="SGD">SGD</option>
                                                                                        <option value="USD">USD</option>
                                                                                        <option value="BHD">USD</option>
                                                                                        <!-- <option value="4448-88XX-XXXX-8743">4448-88XX-XXXX-35453</option> -->
                                                                                </select>
                                                                        </td>
                                                                        <td>
                                                                                <input type="text" class="form-control" /> </td>

                                                                </tr>
                                                        </table>
                                                </div>
                                                <!--Monthly-->
                                                <div class="col-sm-3" style="background-color: #d7d7d7">

                                                        Weekly Limit
                                                        <table class="table">
                                                                <tr>
                                                                        <th>Count</th>
                                                                        <th colspan="2">Transaction Amount</th>
                                                                </tr>
                                                                <tr>
                                                                        <td>
                                                                                <input type="number" class="form-control" /> </td>
                                                                        <td id="dropdownId1">
                                                                                <select name="sourceCard" id="dropDownCurrency" class="form-control">
                                                                                        <option value="SGD">SGD</option>
                                                                                        <option value="USD">USD</option>
                                                                                        <option value="BHD">USD</option>
                                                                                        <!-- <option value="4448-88XX-XXXX-8743">4448-88XX-XXXX-35453</option> -->
                                                                                </select>
                                                                        </td>
                                                                        <td>
                                                                                <input type="text" class="form-control" /></td>
                                                                        
                                                                </tr>
                                                        </table>
                                                </div>

                                                <div class="col-sm-3" style="background-color: #d7d7d7">

                                                        Monthly Limit
                                                        <table class="table">
                                                                <tr>
                                                                        <th>Count</th>
                                                                        <th colspan="2">Transaction Amount</th>
                                                                </tr>
                                                                <tr>
                                                                        <td>
                                                                                <input type="number" class="form-control" /> </td>
                                                                        <td id="dropdownId1">
                                                                                <select name="sourceCard" id="dropDownCurrency" class="form-control">
                                                                                        <option value="SGD">SGD</option>
                                                                                        <option value="USD">USD</option>
                                                                                        <option value="BHD">USD</option>
                                                                                        <!-- <option value="4448-88XX-XXXX-8743">4448-88XX-XXXX-35453</option> -->
                                                                                </select>
                                                                        </td>
                                                                        <td>
                                                                                <input type="text" class="form-control" /></td>
                                                                        
                                                                </tr>
                                                        </table>
                                                </div>
                                                <div class="col-sm-3" style="background-color: #d7d7d7">

                                                        Yearly Limit
                                                        <table class="table">
                                                                <tr>
                                                                        <th>Count</th>
                                                                        <th colspan="2">Transaction Amount</th>
                                                                </tr>
                                                                <tr>
                                                                        <td>
                                                                                <input type="number" class="form-control" /> </td>
                                                                        <td id="dropdownId1">
                                                                                <select name="sourceCard" id="dropDownCurrency" class="form-control">
                                                                                        <option value="SGD">SGD</option>
                                                                                        <option value="USD">USD</option>
                                                                                        <option value="BHD">USD</option>
                                                                                        <!-- <option value="4448-88XX-XXXX-8743">4448-88XX-XXXX-35453</option> -->
                                                                                </select>
                                                                                </td>
                                                                                <td>
                                                                                <input type="text" class="form-control" />
                                                                        </td>
                                                                </tr>
                                                        </table>
                                                </div>


                                        </div>
                                        <!-- Merchanaths -->

                                </div>
                                <div class="row form-group">
                                        <div class="col-sm-4">
                                                <button type="submit" class="btn btn-primary" (click)='btn_Submit_Click()'>
                                                        Submit</button>
                                                <button type="submit" class="btn btn-primary" (click)='btn_Reset_Click()'>
                                                        Reset</button>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>