<div class="container divContainer">


        <h3 class="title">Card Limit</h3>

        
      <hr>
        <div class="panel-body" id="panelGorup1">
                <div class="form-group row"  >
                        <div class="col-sm-1 labelAllign">
                                <label for="sourceCard">Card:</label>
                        </div>
                        <div class="col-sm-2">
                                <!-- <input type="text" readonly class="form-control" value="4448-88XX-XXXX-5500"> -->
                                4448-XXXX-XXXX-8743  
                        </div>
                        <!-- <div class="col-sm-3">
                                <button class="btn btn-primary" Value="View" (click)="showHide = !showHide">View</button>
                        </div> -->
                </div>
               
                <!-- <div  *ngIf="showHide"> -->
                                <div >
                        <div class="form-group row"  >
                                <div class="col-sm-1 labelAllign">
                                        <label for="sourceCard">Name:</label>
                                </div>
                                <div class="col-sm-3">
                                        Bob
                                </div>


                        </div>
                        <div class="form-group row"  >
                                <div class="col-sm-1 labelAllign">
                                        <label for="sourceCard">A/C:</label>
                                </div>
                                <div class="col-sm-3">
                                        1003000000000124092
                                </div>


                        </div>

                        <div class="form-group row"  >
                                <div class="col-sm-1 labelAllign">
                                        <label for="sourceCard">Status:</label>
                                </div>
                                <div class="col-sm-3">
                                        Active
                                </div>


                        </div>
                </div>
        </div>
</div>
<div class="container">
        <div class="form-row group">
                <div class="panel-group">
                        <div class="panel panel-default">
                                <div class="panel-heading" style="min-height: 40px;padding-left:1px">
                                        <div class=col-sm-12>
                                                <a data-toggle="collapse" class="panel-title glyphicon glyphicon-th-list" style="cursor: pointer;" (click)="showHidePanel = !showHidePanel"></a>
                                               <label> Set Expenses Rules</label>
                                        </div>
                                </div>
                                <div class="panel-body col-sm-16"   *ngIf="showHidePanel" style="background-color: #e9e9e9;">
                                       
                                      
                                        <div class="form-group row"  >
                                                <div class="col-sm-2 labelAllign"  >
                                                        <label for="sourceCard">Allow International Use:</label>
                                                </div>
                                                <div class="col-sm-1 ">
                                                        <input class="form-check-input" name="InternationalUse" type="radio" id="radioInternationalYes" value="Yes" checked='checked'>
                                                        <label class="form-check-label" for="radioInternationalYes" >Yes</label>
                                                </div>
                                                <div class="col-sm-1">
                                                        <input class="form-check-input" name="InternationalUse" type="radio" id="radioInternationalNo" value="No">
                                                        <label class="form-check-label" for="radioInternationalNo" >No</label>
                                                </div>

                                        </div>
                                        <div class="form-group row"  >
                                                <div class="col-sm-2 labelAllign" >
                                                        <label for="sourceCard" class="labelAllign">Allow Cash Access:</label>
                                                </div>
                                                <div class="col-sm-1">
                                                        <input class="form-check-input" name="CashAccess" type="radio" id="radioCashAccessYes" value="Yes" checked='checked'>
                                                        <label class="form-check-label" for="radioCashAccessYes" >Yes</label>
                                                </div>
                                                <div class="col-sm-1">
                                                        <input class="form-check-input" name="CashAccess" type="radio" id="radioCashAccessNo" value="No">
                                                        <label class="form-check-label" for="radioCashAccessNo">No</label>
                                                </div>

                                        </div>
                                        <div class="form-group row"  >
                                                <div class="col-sm-2 labelAllign" >
                                                        <label for="sourceCard">Allow PIN Purchase:</label>
                                                </div>
                                                <div class="col-sm-1">
                                                        <input class="form-check-input" name="PinPurchase" type="radio" id="radioPinPurchaseYes" value="Yes" checked='checked'>
                                                        <label class="form-check-label" for="radioPinPurchaseYes" >Yes</label>
                                                </div>
                                                <div class="col-sm-1">
                                                        <input class="form-check-input" name="PinPurchase" type="radio" id="radioPinPurchaseNo" value="No">
                                                        <label class="form-check-label" for="radioPinPurchaseNo" >No</label>
                                                </div>

                                        </div>
                                        <div class="form-group row" style="padding-bottom: 5px"  >
                                                <div class="col-sm-2 labelAllign" >
                                                        <label for="sourceCard">Single Trans Limit:</label>
                                                </div>
                                                <div class="col-sm-1">
                                                        <input class="form-check-input" name="SingleTrans" type="radio" id="radioSingleTransYes" value="Yes" checked='checked'>
                                                        <label class="form-check-label" for="radioSingleTransYes" >Yes</label>
                                                </div>
                                                <div class="col-sm-1">
                                                        <input class="form-check-input" name="SingleTrans" type="radio" id="radioSingleTransNo" value="No">
                                                        <label class="form-check-label" for="radioSingleTransNo" >No</label>
                                                </div>

                                        </div>
                                
                                       
                                        <div class="form-group row"  >
                                                <div class="col-sm-3" style="background-color: #d7d7d7;padding-top:5px">
                                                        Daily Transaction Limit
                                                        <table class="table">
                                                                <tr>
                                                                        <th>Count</th>
                                                                        <th colspan="2">Transaction Amount</th>
                                                                </tr>
                                                                <tr>
                                                                        <td>
                                                                                <input type="number" class="form-control" /> </td>
                                                                        <td id="dropdownId">
                                                                                <select name="sourceCard" id="dropDownCurrency" class="form-control">
                                                                                        <option value="SGD">SGD</option>
                                                                                        <option value="USD">INR</option>
                                                                                        <option value="BHD">USD</option>
                                                                                        <!-- <option value="4448-88XX-XXXX-8743">4448-88XX-XXXX-35453</option> -->
                                                                                </select>
                                                                                </td>
                                                                                <td>
                                                                                <input type="text" class="form-control" />
                                                                                </td>
                                                                        
                                                                </tr>
                                                        </table>
                                                </div>
                                                <div class="col-sm-3" style="background-color: #d7d7d7;padding-top: 5px">
                                                        Weekly Transaction Limit
                                                        <table class="table">
                                                                <tr>
                                                                        <th>Count</th>
                                                                        <th colspan="2">Transaction Amount</th>
                                                                </tr>
                                                                <tr>
                                                                        <td>
                                                                                <input type="number" class="form-control" /> </td>
                                                                        <td id="dropdownId">
                                                                                <select name="sourceCard" id="dropDownCurrency" class="form-control">
                                                                                        <option value="SGD">SGD</option>
                                                                                        <option value="USD">INR</option>
                                                                                        <option value="BHD">USD</option>
                                                                                        <!-- <option value="4448-88XX-XXXX-8743">4448-88XX-XXXX-35453</option> -->
                                                                                </select>
                                                                                </td>

                                                                                <td>
                                                                                <input type="text" class="form-control" />
                                                                        </td>
                                                                </tr>
                                                        </table>
                                                </div>
                                                <div class="col-sm-3" style="background-color: #d7d7d7;padding-top: 5px">
                                                        Monthly Transaction Limit
                                                        <table class="table">
                                                                <tr>
                                                                        <th>Count</th>
                                                                        <th colspan="2">Transaction Amount</th>
                                                                </tr>
                                                                <tr>
                                                                        <td>
                                                                                <input type="number" class="form-control" /> </td>
                                                                        <td id="dropdownId">
                                                                                <select name="sourceCard" id="dropDownCurrency" class="form-control">
                                                                                        <option value="SGD">SGD</option>
                                                                                        <option value="USD">INR</option>
                                                                                        <option value="BHD">USD</option>
                                                                                        <!-- <option value="4448-88XX-XXXX-8743">4448-88XX-XXXX-35453</option> -->
                                                                                </select></td>

                                                                                <td>
                                                                                <input type="text" class="form-control" />
                                                                        </td>
                                                                </tr>
                                                        </table>
                                                </div>
                                                <div class="col-sm-3" style="background-color: #d7d7d7;padding-top:5px">
                                                        Yearly Transaction Limit
                                                        <table class="table">
                                                                <tr>
                                                                        <th>Count</th>
                                                                        <th colspan="2">Transaction Amount</th>
                                                                </tr>
                                                                <tr>
                                                                        <td>
                                                                                <input type="number" class="form-control" /> </td>
                                                                        <td id="dropdownId">
                                                                                <select name="sourceCard" id="dropDownCurrency" class="form-control">
                                                                                        <option value="SGD">SGD</option>
                                                                                        <option value="USD">INR</option>
                                                                                        <option value="BHD">USD</option>
                                                                                        <!-- <option value="4448-88XX-XXXX-8743">4448-88XX-XXXX-35453</option> -->
                                                                                </select></td>

                                                                                <td>
                                                                                <input type="text" class="form-control" />
                                                                        </td>
                                                                </tr>
                                                        </table>
                                                </div>
                                        </div>



                                        <!--Label-->
                                     
                                        <div class="form-row group">
                                                
                                                        <div class="sm-col-2" style="width:140%; ">
                                                                <!-- <div style="width:100%;float:left;padding-top:20px "> -->
                                                                        Merchant Categories
                                                                        <select name="sourceCard" id="dropDownCurrency" class="form-control" style="width:22%">
                                                                                <option value="Betting">Betting</option>
                                                                                <option value="Video Game">Video Game</option>
                                                                                <option value="Golf Courses">Golf Courses</option>
                                                                                <option value="Bowling Alleys">Bowling Alleys</option>

                                                                        </select>

                                                                <!-- </div> -->
                                                        </div>
                                                
                                        </div>
                                        <br>

                                        <div class="form-group row"  >
                                                <!-- <div style="width: 19%;padding: 2px;margin: 2px; display:inline-block" >
                                       <div class="col-sm-1">

                                    </div>   -->
                                                <!--Weekly-->
                                                <div class="col-sm-3" style="background-color: #d7d7d7;padding-top: 5px">

                                                        Daily Limit
                                                        <table class="table">
                                                                <tr>
                                                                        <th>Count</th>
                                                                        <th colspan="2">Transaction Amount</th>
                                                                </tr>
                                                                <tr>
                                                                        <td>
                                                                                <input type="number" class="form-control" /> </td>
                                                                        <td id="dropdownId1">
                                                                                <select name="sourceCard" id="dropDownCurrency" class="form-control">
                                                                                        <option value="SGD">SGD</option>
                                                                                        <option value="USD">INR</option>
                                                                                        <option value="BHD">USD</option>
                                                                                        <!-- <option value="4448-88XX-XXXX-8743">4448-88XX-XXXX-35453</option> -->
                                                                                </select>
                                                                        </td>
                                                                        <td>
                                                                                <input type="text" class="form-control" /> </td>

                                                                </tr>
                                                        </table>
                                                </div>
                                                <!--Monthly-->
                                                <div class="col-sm-3" style="background-color: #d7d7d7;padding-top: 5px">

                                                        Weekly Limit
                                                        <table class="table">
                                                                <tr>
                                                                        <th>Count</th>
                                                                        <th colspan="2">Transaction Amount</th>
                                                                </tr>
                                                                <tr>
                                                                        <td>
                                                                                <input type="number" class="form-control" /> </td>
                                                                        <td id="dropdownId1">
                                                                                <select name="sourceCard" id="dropDownCurrency" class="form-control">
                                                                                        <option value="SGD">SGD</option>
                                                                                        <option value="USD">INR</option>
                                                                                        <option value="BHD">USD</option>
                                                                                        <!-- <option value="4448-88XX-XXXX-8743">4448-88XX-XXXX-35453</option> -->
                                                                                </select>
                                                                        </td>
                                                                        <td>
                                                                                <input type="text" class="form-control" /></td>
                                                                        
                                                                </tr>
                                                        </table>
                                                </div>

                                                <div class="col-sm-3" style="background-color: #d7d7d7;padding-top:5px">

                                                        Monthly Limit
                                                        <table class="table">
                                                                <tr>
                                                                        <th>Count</th>
                                                                        <th colspan="2">Transaction Amount</th>
                                                                </tr>
                                                                <tr>
                                                                        <td>
                                                                                <input type="number" class="form-control" /> </td>
                                                                        <td id="dropdownId1">
                                                                                <select name="sourceCard" id="dropDownCurrency" class="form-control">
                                                                                        <option value="SGD">SGD</option>
                                                                                        <option value="USD">INR</option>
                                                                                        <option value="BHD">USD</option>
                                                                                        <!-- <option value="4448-88XX-XXXX-8743">4448-88XX-XXXX-35453</option> -->
                                                                                </select>
                                                                        </td>
                                                                        <td>
                                                                                <input type="text" class="form-control" /></td>
                                                                        
                                                                </tr>
                                                        </table>
                                                </div>
                                                <div class="col-sm-3" style="background-color: #d7d7d7;padding-top: 5px">

                                                        Yearly Limit
                                                        <table class="table">
                                                                <tr>
                                                                        <th>Count</th>
                                                                        <th colspan="2">Transaction Amount</th>
                                                                </tr>
                                                                <tr>
                                                                        <td>
                                                                                <input type="number" class="form-control" /> </td>
                                                                        <td id="dropdownId1">
                                                                                <select name="sourceCard" id="dropDownCurrency" class="form-control">
                                                                                        <option value="SGD">SGD</option>
                                                                                        <option value="USD">INR</option>
                                                                                        <option value="BHD">USD</option>
                                                                                        <!-- <option value="4448-88XX-XXXX-8743">4448-88XX-XXXX-35453</option> -->
                                                                                </select>
                                                                                </td>
                                                                                <td>
                                                                                <input type="text" class="form-control" />
                                                                        </td>
                                                                </tr>
                                                        </table>
                                                </div>


                                        </div>
                                        <!-- Merchanaths -->
                                        <br>
                                        <div class="row form-group" >
                                                        <div class="col-sm-4">
                                                                <button type="submit" class="btn btn-primary" (click)='btn_Submit_Click()'>
                                                                        Submit</button>
                                                                <button type="submit" class="btn btn-primary" (click)='btn_Reset_Click()'>
                                                                        Reset</button>
                                                        </div>
                                                </div>
                                </div>
                               
                        </div>
                </div>
        </div>