#divid{
    font-size: 13px; color: #4f4f4f; 
}
.divContainer{
    font-size: 16px; color: #4f4f4f; 
}

.section {
    width: 99%;
    height: 20px;
    text-align: center;
    background-color: #0f81d3;
    color: #fff;
    display: block;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #888888;
}
.fullWidth {
    width: 100%;
    height: auto;
    list-style: none;
    float: left;
    /*padding-bottom: 5px;*/
    padding-top: 10px;
    /*padding-top:3px;*/
}

.halfWidth {
    width: 50%;
    height: auto;
    list-style: none;
    float: left;
    padding-top: 5px;
    padding-bottom: 5px;
}
.quarterWidth
{
    width: 25%;
    height: auto;
    list-style: none;
    float: left;
   
    padding-bottom: 5px;

}

.formlabel {
    width: 40%;
   
    padding-top: 2px;
    display: block;
    list-style: none;
    float: left;
}


.formvalue {
    width: 59%;
   
    padding-top: 2px;
    display: block;
    list-style: none;
    float: left;
}


#dropdownId{
    width:39%;
}

#dropdownId1{
    width:42%;
}

.col-sm-2
{
    font-size: 13px; 
    Color:#4f4f4f;

}
.form-group
{

    margin-bottom: 0px;
}