<form class="form-horizontal">
  
<div class="container form-group">
  <span>Do you remember your Old Pin ?</span>
      <div class="row">
          <div class="col-xs-6">
              <div class="col-xs-2">
              <div class="form-check">
                
                 
              <div class="form-group">
                 
                      <input class="form-check-input" name="group100" type="radio" id="radio100"   >
                      <label class="form-check-label" for="radio100">Yes</label>
                  </div>
                </div>
                </div>
                  <div class="col-xs-3">
                  <div class="form-check">
                      
                      <input class="form-check-input" name="group100" type="radio" id="radio101" (checked)='rdYesChecked' >
                      <label class="form-check-label" for="radio101">No</label>
                    </div>
                    </div>
               
              </div>
              </div>
              <div class="container">

                  <div class="col-xs-6" >
                    <div class="panel panel-default" >
                              <div class="panel-heading" >Generate Pin</div>
                              <div class="panel-body form-group" id="collapseOne">
                            <div class="row form-group">
                                        <label for="inputOldPin" class="control-label col-xs-3" >
                                                Old Pin</label>
                                    <div class="col-xs-8">
                                            <input type="text" class="form-control" id="inputOldPin" placeholder="Old Pin" />
                                                </div>
                                            </div> 
                                            <div class="row form-group">
                                                    <label for="inputNewPin" class="control-label col-xs-3" >
                                                            New Pin</label>
                                                <div class="col-xs-8">
                                                        <input type="text" class="form-control" id="inputNewPin" placeholder="New Pin" />
                                                            </div>
                                                        </div> 
                                                        <div class="row form-group">
                                                                <label for="inputCnfNewPin" class="control-label col-xs-3" >
                                                                        Confirm New Pin</label>
                                                            <div class="col-xs-8">
                                                                    <input type="text" class="form-control" id="inputCnfNewPin" placeholder="Conirm New Pin" />
                                                                        </div>
                                                                    </div> 
                                                                    <div class="row form-group">
                                                                        <div class="col-xs-3"></div>
                                                                            <div class="col-xs-8">
                                                                            <button type="submit" class="btn btn-primary" (click)='Changed()'>
                                                                                    Submit</button>
                                                                                    </div>
                                                                    </div> 
                                                   
                              </div>
                              </div>
                              </div>

                              <div class="col-xs-6">
                                    <div class="panel panel-default">
                                              <div class="panel-heading">Generate Pin</div>
                                              <div class="panel-body form-group">
                                            <div class="row form-group">
                                                        <label for="inputPhone" class="control-label col-xs-3" >
                                                                Registerd phone</label>
                                                    <div class="col-xs-8">
                                                            <input type="text" class="form-control" id="inputPhone" placeholder="Phone" />
                                                                </div>
                                                            </div> 
                                                            <div class="row form-group">
                                                                    <label for="inputDob" class="control-label col-xs-3" > DOB
                                                                            </label>
                                                                <div class="col-xs-8">
                                                                        <input type="text" class="form-control" id="inputDob" placeholder="DOB" />
                                                                            </div>
                                                                        </div> 
                                                                        <div class="row form-group">
                                                                                <label for="inputOldPin" class="control-label col-xs-3" >
                                                                                        Confirm New Pin</label>
                                                                            <div class="col-xs-8">
                                                                                    <input type="text" class="form-control" id="inputOldPin" placeholder="Old Pin" />
                                                                                        </div>
                                                                                    </div>  
                                                                                    <div class="row form-group">
                                                                                            <div class="col-xs-3"></div>
                                                                                                <div class="col-xs-8">
                                                                                                <button type="submit" class="btn btn-primary" (click)='Changed()'>
                                                                                                        Submit</button>
                                                                                                        </div>
                                                                                        </div>          
                                                      
                                                       
                                                                     
                                              </div>
                                              </div>
                                              </div>
                              </div>
                              
        </div>
        



        </form>
