<div class="container">
    <br>
    <div class="form-group row" id="divid">
        <div class="col-xs-6">
            <label>
                Statement</label>

        </div>

        <div class="form-group row">
            <div class="col-xs-6">
                <div class="form-group">

                    <select class="btn btn-default dropdown-toggle col-xs-6">
                        Action
                        <span class="caret"></span>
                        <option>04/20/2018</option>

                    </select>
                    <button type="submit" class="btn btn-primary" (click)='btnChanged()'>
                        Submit</button>
                </div>

            </div>
        </div>
    </div>

</div>


<div class="container" id="detailsid">
    <hr>
    <div class="form-group row">
        <div class="col-xs-9 col-md-7">
            <h4>Fleet Card Account Statement</h4>
        </div>
        <div class="col-sm-4 col-sm" style="font-size: 16px ;color: #4f4f4f;">
            <label>Statement Period:03/21/2018 to 04/20/2018 Payment due date:</label>
        </div>
        <br>
    </div>

    <div class="row form-group">
        <div class="col-sm-4">

            <label>
                Account Number:</label>
        </div>
        <div class="col-sm-4">

            65465465455665

        </div>
    </div>

    <div class="row form-group">
        <div class="col-sm-4">

            <label>
                Name:</label>
        </div>
        <div class="col-sm-4">

            Jim Cerry
        </div>
    </div>

    <div class="row form-group">
        <div class="col-sm-4">
            <label>
                Card Number:</label>
        </div>
        <div class="col-sm-4">

            00004343543543543
        </div>
    </div>

    <div class="row form-group">
        <div class="col-sm-4">

            <label>
                Address Line 1:</label>
        </div>

        <div class="col-sm-4">

            #54 park street, LosAngles
        </div>
    </div>

    <div class="row form-group">
        <div class="col-sm-4">
            <label>
                Address Line 2</label>
        </div>
        <div class="col-sm-4">

            #55, venue vista
        </div>
    </div>

    <div class="row form-group">
        <div class="col-sm-4">
            <label>
                City & State:</label>
        </div>

        <div class="col-sm-4">

            LosAngles, LosAngles
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-4">
            <label>
                Country & Postal code:</label>
        </div>

        <div class="col-sm-4">

            USA, 4654654

        </div>
    </div>

</div>


<br>
<br>

<div class="container" id="summaryPannel">

    <div style="font-size:16px;color: #4f4f4f;" id="summaryPannel">Summary</div>
    <br>

    <div class="form-group row">
        <div class="col-sm-4">
            <label>
                A/C Overdraft Limit:</label>
        </div>
        
                <div class="col-sm-4">
            $200000
        </div>
        </div>

        <div class="form-group row">
        <div class="col-sm-4">

            <label>
                Available Overdraft Limit:</label>
        </div>
        <div class="col-sm-4">

            $180000
        </div>
        </div>



        <div class="form-group row">
                <div class="col-sm-4">
            <label>
                Current Balance:</label>
        </div>

        <div class="col-sm-2">
            $280000
        </div>

    </div>
</div>

<br>
<br>

<div class="container">

    <div class="form-group row">

        <div class="panel-heading" style="font-size:16px;color: #4f4f4f;">Transaction For the Period</div>
        <div class="col-xs-11">

            <table class="table table-striped table-bordered" id="tableid">
                <thead>
                    <tr id="header" style="background-color: #8b8b8b; font-size: 16px;">
                        <th>Transaction date & Time

                        </th>
                        <th>Trans Description

                        </th>
                        <th>Trans Reference Number

                        </th>
                        <th>Merchant Name & Location

                        </th>
                        <th>Transaction Currency & Amount

                        </th>
                        <th>Posted Currency & Amount

                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>03/25/2018</td>
                        <td>Others</td>
                        <td>AE54654644</td>
                        <td>Flipkart ,Banglore</td>
                        <td>$.20,000</td>
                        <td>$.15,000</td>
                    </tr>
                    <tr>
                        <td>03/28/2018</td>
                        <td>Others</td>
                        <td>AE54654644</td>
                        <td>Flipkart ,Banglore</td>
                        <td>$.20,000</td>
                        <td>$.15,000</td>
                    </tr>
                    <tr>
                        <td>04/01/2018</td>
                        <td>Others</td>
                        <td>AE54654644</td>
                        <td>Flipkart ,Banglore</td>
                        <td>$.20,000</td>
                        <td>$.15,000</td>
                    </tr>
                    <tr>
                        <td>04/05/2018</td>
                        <td>Others</td>
                        <td>AE54654644</td>
                        <td>Flipkart ,Banglore</td>
                        <td>$.20,000</td>
                        <td>$.15,000</td>
                    </tr>

                    <tr>
                        <td>04/15/2018</td>
                        <td>Resturants</td>
                        <td>AE544654644</td>
                        <td>KFC ,NewYork USA</td>
                        <td>$.20,000</td>
                        <td>$.15,000</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>