#dv_Main{
    margin: 20px;
    display: none;
}

#displayAccount{
font-size: 16px;
}

#detailsid{
    font-size: 16px; Color:#656565;
    font-family: MyriadPro-Regular;
}

#divid{
    font-size: 19px; Color:#656565;
    font-family: MyriadPro-Regular;
}
.label{
    font-size: 16px; Color:#656565;
    font-family: MyriadPro-Regular;
}
/* 
.table table-striped{
    font-size: 13px; Color:#4f4f4f;
}
#summaryPannel{
    font-size: 13px; Color:#4f4f4f
} */

.form-group {
    margin-bottom: 0%;
}
/* #tableid tr:nth-child(odd){background-color: #d7d7d7; font-size: 13px;}



#tableid tr:nth-child(even){background-color: #e9e9e9; font-size: 13px;} */

/* #cssid{
    width: 20%;
    text-align:right;
} */

input{
    Border-radius:5px;
    Background-color:#ffffff ;  
    Color:#000000;   
}
hr{
    Border-color:#a9a9a9;   
}
#tableid tr:nth-child(odd){background-color: #d7d7d7; font-size: 13px;color: #4f4f4f;font-family: MyriadPro-Regular;}

#tableHeader{background-color: #8b8b8b; font-size: 16px;color:#ffffff;font-family: MyriadPro-Regular;}

#tableid tr:nth-child(even){background-color: #e9e9e9; font-size: 13px;color: #4f4f4f ;font-family: MyriadPro-Regular;}