#dv_Main{
    margin: 20px;
    display: none;
}

#displayAccount{
font-size: 16px;
}

#detailsid{
    font-size: 16px; Color:#656565;
    font-family: Myriad Pro;
}

#divid{
    font-size: 19px; Color:#656565;
    font-family: Myriad Pro;
}

.table table-striped{
    font-size: 13px; Color:#4f4f4f;
}
#summaryPannel{
    font-size: 13px; Color:#4f4f4f
}

.form-group {
    margin-bottom: 0%;
}
#tableid tr:nth-child(odd){background-color: #d7d7d7; font-size: 13px;}



#tableid tr:nth-child(even){background-color: #e9e9e9; font-size: 13px;}

#cssid{
    width: 20%;
    text-align:right;
}
.odd
{
    background-color: #d7d7d7; 
}
.even
{
    background-color:white;
}
input{
    Background-color:#c6c6c6;
    Border-radius:5px;
    Background-color:#ffffff ;
    Font-size:8px;
    Color:#000000;
    Background-color : #8b8b8b;
}