<div class="container">
  <h3 style="font-size: 20px; color:#4f4f4f;">Transactions</h3>
  <br>

<label style="font-size: 16px;columns: #4f4f4f;" *ngIf="LinkFlag">Alice</label>
<label style="font-size: 16px;columns: #4f4f4f;" *ngIf="!LinkFlag">Bob</label>
<br>
<br>

<div class="form-group row">
  <div class="col-sm-3">
    <label style="font-size:13px;color:#4f4f4f;">From Date*:</label>
  </div>
  <div class="col-sm-3">
      <input id="date" type="date" class="form-control">
  </div>

  <div class="col-sm-3">
      <label style="font-size:13px;color:#4f4f4f;">To Date*:</label>
  </div>
  <div class="col-sm-3">
      <input id="date" type="date" class="form-control">
  </div>
</div>


<div class="form-group row">
    <div class="col-sm-3">
        <label style="font-size:13px;color:#4f4f4f;">Transaction Type:</label>
    </div>
    <div class="col-sm-3">
        <input type="text" class="form-control">
    </div>
  
    <div class="col-sm-3">
        <label style="font-size:13px;color:#4f4f4f;">Card:</label>
    </div>
    <div class="col-sm-3">
        <input type="text" class="form-control">
    </div>
  </div>
  
  <div class="form-group row">
    <button type="button" id="btnid" class="btn btn-primary" (click)="showHide = !showHide">Submit</button>
  </div>
<br>
<br>
<div *ngIf="showHide">
<div class="form-row group" style="font-size: 13px;columns: #4f4f4f;">
  <div class="col-sm-4">
    Transaction Date
  </div>
  <div class="col-sm-4">
    Description
  </div>
  <div class="col-sm-4">
    Amount
  </div>
</div>
  
<br>

<div class="container">
<div class="form-row group">
<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading" style="height: 30px;">
          <div class=col-sm-4>
              <a data-toggle="collapse" class="glyphicon glyphicon-th-list" style="cursor: pointer;" (click)="showHide1 = !showHide1"></a>
            05/02/2018 01:24:02 AM
          </div>
          <div class="col-sm-4">
            Transfer From: Singapore Dollar
          </div>
          <div class="col-sm-4">
            USD 147
          </div>
        
          
</div>
<div class="panel-body col-sm-16" *ngIf="showHide1">
    <div class="row form-group">
      <div class="col-sm-4">
            <label>

                    Transaction Reference Number:</label>
                    </div>
      <div class="col-sm-4">
        25420586
      </div>
</div>

<div class="row form-group">
  <div class="col-sm-3">
    <label>Card Number:</label>
  </div>
  <div class="col-sm-3">
    4448-88XX-XXXX-5500
  </div>
  <div class="col-sm-3">
    <label>Proxy Number:</label>
  </div>
  <div class="col-sm-3">
    44204
  </div>
</div>

<div class="row form-group">
  <div class="col-sm-4">
    <label>Merchant Name & Location:</label>
  </div>
</div>
</div>
</div>
</div>
</div>
</div>


    