.form-group {
    margin-bottom: 1%;
}

.table table-striped{
    font-size: 13px; Color:white; background-color: #8b8b8b;
}

#date{
    text-align:left;
}

.col-sm-3 {
    width: 16%;
}

.form-group{
    text-align: right;
}


.odd
{
    background-color: #d7d7d7; 
}
.even
{
    background-color:white;
}
