
<div class="container">
<h3>
  <font size="20px">
      Transactions
  </font></h3>
<br>
<label>Mohseen Pasha</label>
<hr>
<div class="form-group row" id="detailsid">
  <div class="col-sm-3">
    <label>Transaction Date:</label>
</div>

<div class="col-sm-3">
  06/05/2018
</div>

<div class="col-sm-3">
  <Label>Description:</Label>
</div>
<div class="col-sm-3">
  Transaction Details
</div>
</div>

<div class="form-group row" id="detailsid">
    <div class="col-sm-3">
      <label>Local Transaction Amount:</label>
  </div>
  
  <div class="col-sm-3">
    Rs.500.00
  </div>
  
  <div class="col-sm-3">
    <Label>Local Transaction Reference Number:</Label>
  </div>
  <div class="col-sm-3">
    774yff5
  </div>
  </div>

  <div class="form-group row" id="detailsid">
      <div class="col-sm-3">
        <label>Card Number:</label>
    </div>
    
    <div class="col-sm-3">
      6678 XXXX XXXX 8876
    </div>
    
    <div class="col-sm-3">
      <Label>Wallet Amount:</Label>
    </div>
    <div class="col-sm-3">
      Rs. 1000.00
    </div>
    </div>

    <div class="form-group row" id="detailsid">
        <div class="col-sm-3">
          <label>From Date:</label>
      </div>
      
      <div class="col-sm-3">
        06/05/2018
      </div>
      
      <div class="col-sm-3">
        <Label>To Date:</Label>
      </div>
      <div class="col-sm-3">
        08/05/2018
      </div>
      </div>
      
    
      <div class="form-group row" id="detailsid">
          <div class="col-sm-3">
            <label>Transaction Type:</label>
        </div>
        
        <div class="col-sm-3">
          Credit
        </div>
        
        <div class="col-sm-3">
          <Label>Wallet:</Label>
        </div>
        <div class="col-sm-3">
          About Wallet
        </div>
        </div>
        <hr>
        <div class="form-group row" id="detailsid">
            <div class="col-sm-4">
        <div class="btn-group">
            <button type="button" class="btn btn-primary">Download</button>
            </div>
            <button type="button" class="btn btn-primary">Submit</button>
           
          </div>
</div>

