<div class="container">
<h3>This is Calculate Transfers Page</h3>

<br>
<form>
  
  <div class="form-row">
    <div class="form-group col-md-4">
      <label>Transfer Amount:</label>
      <input type="text" class="form-control">
    </div>
    <div class="form-group col-md-4">
      <label>Total Amount to be debited:</label>
      <input type="text" class="form-control">
    </div>
  
  <div class="form-group col-md-4">
    <label>Debit Currency:</label>
    <input type="text" class="form-control">
  </div>
  </div>
  <div class="form-row">
  <div class="form-group col-md-4">
    <label>Total Amount to be credited:</label>
    <input type="text" class="form-control">
  </div>
  
    <div class="form-group col-md-4">
      <label>Credit Currency:</label>
      <input type="text" class="form-control">
    </div>
    <div class="form-group col-md-4">
      <label>Exchange Rate:</label>
              <input type="text" class="form-control">          
    </div>
    </div>
    <div class="form-row">
    <div class="form-group col-md-4">
      <label>Exchange Rate Date and Time:</label>
      <input type="text" class="form-control">
    </div>
  </div>
  
</form>
</div>
