<div class="container">
  <h1>List Cards</h1>
  <br>
  <div class="form-group row">
    <div class="col-sm-3">
Card Number:<br>
<input type="text" class="form-control" name="cardNumber">
</div>

<div class="col-sm-3">
Card Status:<br>
<input type="text" class="form-control" name="cardStatus">
</div>

<div class="col-sm-3">
Account Number:<br>
<input type="text" class="form-control" name="accNumber">
</div>

<div class="col-sm-3">
Lock Card:<br>
<input type="text" class="form-control" name="lockCard">
</div>
</div>

<div class="form-group row">
  <div class="col-md-3">
Created On:<br>
<input type="text" class="form-control" name="createdOn">
</div>


    <div class="col-md-3">
  Expiry Date:<br>
  <input type="date" class="form-control" name="createdOn">
  </div>
  

    <div class="col-md-3">
  Card Type:<br>
  <input type="text" class="form-control" name="createdOn">
  </div>

</div>
</div>