
<app-launch></app-launch>

<div class="container-fluid" style="background-color: #574c4a; padding-left: 29px; padding-top: 8px; padding-bottom: 8px; padding-right: 25px;">
<div class="row" style="Background-color:#d3d0d3; padding-bottom: 10px;padding-top: 10px;padding-right: 10px;">

      <div class="col-xs-1" style="Background-color:#d3d0d3;padding-right: 0px;">
    
                        <ul class="nav nav-tabs" >
                        <!-- <li class="active"><a href="#home" data-toggle="tab"><span class="glyphicon glyphicon-heart"></span></a></li> -->
                        <li style="text-align: center; "><a [routerLink]="['/Home/Summary']" routerLinkActive="actiVV"  data-toggle="tab">
                                <img src="assets/images/cardsummary.png"   alt="Card Summary" title="Card Summary">
                                <div style="font-size:9px; margin-top:3px">Card Summary</div>
                        </a></li>
                        <li style="text-align: center; "><a [routerLink]="['/Home/transactions']" routerLinkActive="actiVV" data-toggle="tab">
                                <img src="assets/images/transactions.png"   alt="Transactions" title="Transactions">
                                <div style="font-size:9px; margin-top:3px">Transactions</div>
                        </a></li>
                        <!-- <li style="text-align: center; "><a [routerLink]="['/Home/FeesWaivers']" routerLinkActive="actiVV" data-toggle="tab">
                                <img src="assets/images/FeeWaivers.png" style="height:auto;width: 100%;"  alt="Fees & Waivers" title="Fees & Waivers">
                                <div style="font-size:9px; margin-top:3px">Fees & Waivers</div>
                        </a></li> -->
                        <li style="text-align: center; "><a [routerLink]="['/Home/profileInfo']" routerLinkActive="actiVV" data-toggle="tab">
                                <img src="assets/images/profileInfo.png"   alt="Profile Info" title="Profile Info">
                                <div style="font-size:9px; margin-top:3px">Profile Info</div>
                        </a></li>
                        
                        
                        </ul>

        </div> 
        
        <div class="col-sm-11" style="Background-color:#eeeeee;">
                <div >
                   <router-outlet></router-outlet>   
                </div>           
        </div>
</div>

</div>

