<div class="container">

    <h3 style="font-size: 20px;color: #4f4f4f">
        Profile Info

    </h3>
    <br>


    <div class="form-group row" id="detailsid">
        <div class="col-sm-3">
            <label for="Firstname">First Name:</label>
        </div>
        <div class="col-sm-3">
            <input type="text" class="form-control" id="Firstname" name="Firstname">
        </div>
        <div class="col-sm-3">
            <label for="Lastname">Last Name:</label>

        </div>
        <div class="col-sm-3">
            <input type="text" class="form-control" id="Lastname" name="Lastname">
        </div>
    </div>


    <div class="form-group row" id="detailsid">
        <div class="col-sm-3">

            <label for="Username">User Name :</label>
        </div>
        <div class="col-sm-3">
            <input type="text" name="Username" id="Username" class="form-control">
        </div>
        <div class="col-sm-3">
            <label for="Password">Password:</label>

        </div>
        <div class="col-sm-3">
            <input type="password" name="Password" id="Password" class="form-control">
        </div>
    </div>

    <div class="form-group row" id="detailsid">
        <div class="col-sm-3">

            <label for="Email">Email:</label>
        </div>
        <div class="col-sm-3">
            <input type="text" name="Email" id="Email" class="form-control">
        </div>
        <div class="col-sm-3">

            <label for="DateofBirth">Date of Birth:</label>
        </div>
        <div class="col-sm-3">
            <input type="text" id="DateofBirth" name="DateofBirth" class="form-control">
        </div>
    </div>

    <div class="form-group row" id="detailsid">
        <div class="col-sm-4">
            <div class="btn-group">
                <button type="button" class="btn btn-primary">Submit</button>

            </div>
        </div>