#detailsid{
    font-size: 16px; color: #656565;
    font-family: Myriad Pro;
    text-align:right;
}
#divid{
    font-size: 19px; color: #656565;
    font-family: Myriad Pro;
}

.form-group {
    margin-bottom: 0%;
}

/* .col-sm-3 {
    width: 15%;
    text-align: right;
} */

#textInfo{
    text-align:left;
}

#line{
    Border-color:#a9a9a9;
}
