<div class="container">

    <h3 id="divid">Profile Info</h3>
    <hr id="line">
    
    <div *ngIf="LinksFlag">
            <div class="form-group row" >
                <div class="col-sm-3" id="detailsid">
                    <label for="Firstname">First Name:</label>
                </div>
                <div class="col-sm-3" id="textInfo">
                    Bob
                </div>
                
            </div>
           
            <div class="form-group row" >
          
                <div class="col-sm-3" id="detailsid">
                    <label for="Lastname">Last Name:</label>
                </div>
                <div class="col-sm-3" >
                    Harry
                </div>
            </div>
            <div class="form-group row" >
            <div class="col-sm-3" id="detailsid">
                <label for="Username">User Name:</label>
            </div>
            <div class="col-sm-3" id="textInfo">
                BobWireCard
            </div>
        </div>
        <div class="form-group row" >
            <div class="col-sm-3" id="detailsid">
                <label for="Password">Password:</label>
    
            </div>
            <div class="col-sm-3" id="textInfo">
                ********
            </div>
        </div>
                <div class="form-group row">
                <div class="col-sm-3" id="detailsid">
                   <label for="DateofBirth">Date of Birth:</label>
                </div>
                <div class="col-sm-3" id="textInfo">
                    02/03/1998
                </div>
            </div>
            <div class="form-group row" >
                <div class="col-sm-3" id="detailsid">
        
                    <label for="Email">Email:</label>
                </div>
                <div class="col-sm-3" id="textInfo">
                    Bob@wirecard.com
                </div>
                </div>
            </div>

    <div *ngIf="!LinksFlag">
            <div class="form-group row" >
                    <div class="col-sm-3" id="detailsid">
                        <label for="Firstname">First Name:</label>
                    </div>
                    <div class="col-sm-3" id="textInfo">
                    Alice
                    </div>
                    
                </div>
               
                <div class="form-group row" >
              
                    <div class="col-sm-3" id="detailsid">
                        <label for="Lastname">Last Name:</label>
                    </div>
                    <div class="col-sm-3" >
                        Charles
                    </div>
                </div>
                <div class="form-group row" >
                <div class="col-sm-3" id="detailsid">
                    <label for="Username">User Name:</label>
                </div>
                <div class="col-sm-3" id="textInfo">
                    AliceWireCard
                </div>
            </div>
            <div class="form-group row" >
                <div class="col-sm-3" id="detailsid">
                    <label for="Password">Password:</label>
        
                </div>
                <div class="col-sm-3" id="textInfo">
                    ********
                </div>
            </div>
                    <div class="form-group row">
                    <div class="col-sm-3" id="detailsid">
                       <label for="DateofBirth">Date of Birth:</label>
                    </div>
                    <div class="col-sm-3" id="textInfo">
                        02/03/1999
                    </div>
                </div>
                <div class="form-group row" >
                    <div class="col-sm-3" id="detailsid">
            
                        <label for="Email">Email:</label>
                    </div>
                    <div class="col-sm-3" id="textInfo">
                        Alice@wirecard.com
                    </div>
                    </div>
    
    
    </div>
    

    <!-- <div class="form-group row" id="detailsid">
        <div class="col-sm-4">
            <div class="btn-group">
                <button type="button" class="btn btn-primary">Submit</button>

            </div>
        </div> -->