<div class="container">

    <!--<h3 id="divid">Profile Info</h3>
    <hr id="line">
    
    <div *ngIf="LinksFlag">
            <div class="form-group row" >
                <div class="col-sm-3" id="detailsid">
                    <label>First Name:</label>
                </div>
                <div class="col-sm-3" id="textInfo">
                    Bob
                </div>
                
            </div>
           
            <div class="form-group row" >
          
                <div class="col-sm-3" id="detailsid">
                    <label>Last Name:</label>
                </div>
                <div class="col-sm-3" >
                    Harry
                </div>
            </div>
            <div class="form-group row" >
            <div class="col-sm-3" id="detailsid">
                <label>User Name:</label>
            </div>
            <div class="col-sm-3" id="textInfo">
                BobWireCard
            </div>
        </div>
                <div class="form-group row">
                <div class="col-sm-3" id="detailsid">
                   <label>Date of Birth:</label>
                </div>
                <div class="col-sm-3" id="textInfo">
                    02/03/1998
                </div>
            </div>
            <div class="form-group row" >
                <div class="col-sm-3" id="detailsid">
        
                    <label>Email:</label>
                </div>
                <div class="col-sm-3" id="textInfo">
                    Bob@wirecard.com
                </div>
                </div>
            </div>-->

    <!--<div *ngIf="!LinksFlag">
            <div class="form-group row" >
                    <div class="col-sm-3" id="detailsid">
                        <label>First Name:</label>
                    </div>
                    <div class="col-sm-3" id="textInfo">
                    Alice
                    </div>
                    
                </div>
               
                <div class="form-group row" >
              
                    <div class="col-sm-3" id="detailsid">
                        <label>Last Name:</label>
                    </div>
                    <div class="col-sm-3" >
                        Charles
                    </div>
                </div>
                <div class="form-group row" >
                <div class="col-sm-3" id="detailsid">
                    <label>User Name:</label>
                </div>
                <div class="col-sm-3" id="textInfo">
                    AliceWireCard
                </div>
            </div>
                    <div class="form-group row">
                    <div class="col-sm-3" id="detailsid">
                       <label>Date of Birth:</label>
                    </div>
                    <div class="col-sm-3" id="textInfo">
                        02/03/1999
                    </div>
                </div>
                <div class="form-group row" >
                    <div class="col-sm-3" id="detailsid">
            
                        <label>Email:</label>
                    </div>
                    <div class="col-sm-3" id="textInfo">
                        Alice@wirecard.com
                    </div>
                    </div>
    
    
    </div>-->

    <div class="container">
        <h3 id="divid">Profile Info</h3>
        <hr id="line">
       
      <div *ngIf="LinksFlag">
        <div class="form-group row" >
            <div class="col-sm-2" id="detailsid">
                <label>First Name:</label>
            </div>
            <div class="col-sm-3" id="readText">
                  Bob
            </div>
        </div>
        <div class="form-group row" >
            <div class="col-sm-2" id="detailsid">
              <label>Last Name:</label>
              </div>
              <div class="col-sm-3" id="readText">
                Harry
              </div>
            </div>
            <div class="form-group row" >
                <div class="col-sm-2" id="detailsid">
                  <label>User Name:</label>
                  </div>
                  <div class="col-sm-3" id="readText">
                    BobWireCard
                  </div>
                </div>
                <div class="form-group row" >
                <div class="col-sm-2" id="detailsid">
                  <label>Date of Birth:</label>
                  </div>
                  <div class="col-sm-3" id="readText">
                    02/03/1998
                  </div>
                </div>
                <div class="form-group row" >
                    <div class="col-sm-2" id="detailsid">
                      <label>Email:</label>
                      </div>
                      <div class="col-sm-3" id="readText">
                        Bob@wirecard.com
                      </div>
                    </div>

      </div>
      <div *ngIf="!LinksFlag">
        <div class="form-group row" >
            <div class="col-sm-2" id="detailsid">
                <label>First Name:</label>
            </div>
            <div class="col-sm-3" id="readText">
                  Alice
            </div>
        </div>
        <div class="form-group row" >
            <div class="col-sm-2" id="detailsid">
              <label>Last Name:</label>
              </div>
              <div class="col-sm-3" id="readText">
                Charles
              </div>
            </div>
            <div class="form-group row" >
                <div class="col-sm-2" id="detailsid">
                  <label>User Name:</label>
                  </div>
                  <div class="col-sm-3" id="readText">
                    AliceWireCard
                  </div>
                </div>
                <div class="form-group row" >
                <div class="col-sm-2" id="detailsid">
                  <label>Date of Birth:</label>
                  </div>
                  <div class="col-sm-3" id="readText">
                    02/03/1999
                  </div>
                </div>
                <div class="form-group row" >
                    <div class="col-sm-2" id="detailsid">
                      <label>Email:</label>
                      </div>
                      <div class="col-sm-3" id="readText">
                        Alice@wirecard.com
                      </div>
                    </div>


      </div>
    </div>